.accordion {
    border-radius: 16px;
    border: 1px solid var(--blue_dark);
    transition: border-color 0.3s;

    &.is-active {
        border-color: var(--primary_pressed);
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &__toggler {
        @include button-reset;
        align-items: center;
        color: var(--dark);
        display: flex;
        gap: 16px;
        font-size: 18px;
        font-weight: 600;
        justify-content: space-between;
        line-height: 1.333333;
        padding: 16px;
        text-align: left;
        transition: color 0.3s;
        width: 100%;
        @media(min-width: $fhd) {
            font-size: 23px;
            line-height: 1.39130;
        }
        @include hover {
            color: var(--primary_pressed);
        }

        &.is-active {
            color: var(--primary_pressed);

            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    &__body {
        display: none;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }
}