*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

.page {
    background-color: var(--blue_light);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--primary_font);
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    @media(min-width: $fhd) {
        font-size: 20px;
        line-height: 1.6;
    }

    &--inner {
        .page__content {
            padding-top: 116px;
            @media(min-width: $md) {
                padding-top: 205px;
            }
            @media(min-width: $fhd) {
                padding-top: 245px;
            }
        }
    }

    &.is-overflow {
        overflow: hidden;
    }

    &__content {
        flex: 1 0 auto;
        overflow: hidden;
        @media(min-width: $fhd) {
            padding-bottom: 65px;
        }
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: var(--section_vertical_gap);
        }

        &--bg {
            @media(min-width: $lg) {
                padding-top: 64px;
                padding-bottom: 64px;
                position: relative;
                z-index: 1;
            }

            & > * {
                @media(min-width: $lg) {
                    position: relative;
                    z-index: 1;
                }
            }

            &::before {
                @media(min-width: $lg) {
                    background-color: var(--blue_medium);
                    border-radius: 32px;
                    bottom: 0;
                    content: '';
                    left: -80px;
                    position: absolute;
                    right: -80px;
                    top: 0;
                    z-index: 0;
                }
                @media(min-width: 1600px) {
                    left: -120px;
                    right: -120px;
                }
                @media(min-width: $fhd) {
                    left: -160px;
                    right: -160px;
                }
            }
        }

        &--decor_1 {
            @media(min-width: $md) {
                position: relative;
                z-index: 0;
            }

            & > * {
                position: relative;
                z-index: 1;
            }

            &::before {
                @media(min-width: $md) {
                    aspect-ratio: 1;
                    background-color: #6AC6FF;
                    content: '';
                    filter: blur(175px);
                    height: 100%;
                    left: 0;
                    max-width: 600px;
                    opacity: 0.9;
                    pointer-events: none;
                    position: absolute;
                    top: 50%;
                    touch-action: none;
                    transform: translate(0, -50%) rotate(131deg);
                    width: 100%;
                    z-index: 0;
                }
            }
        }
    }
}

.container {
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
    @media(min-width: $fhd) {
        max-width: 1584px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary_font);
    margin-top: 0;
}

.h1,
.h2,
h1,
h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.33333;
    margin-bottom: 24px;
    @media(min-width: $hd) {
        font-size: 32px;
    }
    @media(min-width: $fhd) {
        font-size: 48px;
        font-weight: 400;
        line-height: 1.16666;
        margin-bottom: 32px;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33333;
    margin-top: 0;
    margin-bottom: 8px;
    @media(min-width: $fhd) {
        font-size: 23px;
        line-height: 1.39130;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    transition: color 0.3s;

    &:not([class]) {
        color: var(--primary);
        @include hover {
            color: var(--primary_hover);
        }
        @include active {
            color: var(--primary_pressed);
        }
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    & + .bullet {
        margin-top: -12px;
    }
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

ol {
    list-style-position: inside;
}

ul {
    &.bullet {
        list-style: none;

        & + h4 {
            margin-top: 24px;
        }

        li {
            min-height: 24px;
            padding-left: 32px;
            position: relative;
            z-index: 1;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &::before {
                background-repeat: no-repeat;
                background-position: 0 0;
                content: '';
                height: 24px;
                left: 0;
                position: absolute;
                top: 0;
                width: 24px;
                z-index: 1;
                @media(min-width: $fhd) {
                    top: 4px;
                }
            }
        }
    }

    &.bullet--type_1 {
        li {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg wihdth='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2300A3FF' d='M12,20.8c-0.5,0-1-0.2-1.4-0.6l-6.8-6.8C3.5,13,3.2,12.5,3.2,12s0.2-1,0.6-1.4l6.8-6.8c0.8-0.8,2.1-0.8,2.8,0l6.8,6.8c0.4,0.4,0.6,0.9,0.6,1.4s-0.2,1-0.6,1.4l-6.8,6.8C13,20.5,12.5,20.8,12,20.8z M12,4.2c-0.3,0-0.5,0.1-0.7,0.3l-6.8,6.8c-0.2,0.2-0.3,0.4-0.3,0.7s0.1,0.5,0.3,0.7l6.8,6.8c0.4,0.4,1,0.4,1.4,0l6.8-6.8c0.2-0.2,0.3-0.4,0.3-0.7s-0.1-0.5-0.3-0.7l-6.8-6.8C12.5,4.4,12.3,4.2,12,4.2z'/%3E%3Ccircle fill='%231E76E2' cx='12' cy='12' r='1.7'/%3E%3C/svg%3E");
            }
        }
    }

    &.bullet--type_1_white {
        li {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg wihdth='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFF' opacity='0.6' d='M12,20.8c-0.5,0-1-0.2-1.4-0.6l-6.8-6.8C3.5,13,3.2,12.5,3.2,12s0.2-1,0.6-1.4l6.8-6.8c0.8-0.8,2.1-0.8,2.8,0l6.8,6.8c0.4,0.4,0.6,0.9,0.6,1.4s-0.2,1-0.6,1.4l-6.8,6.8C13,20.5,12.5,20.8,12,20.8z M12,4.2c-0.3,0-0.5,0.1-0.7,0.3l-6.8,6.8c-0.2,0.2-0.3,0.4-0.3,0.7s0.1,0.5,0.3,0.7l6.8,6.8c0.4,0.4,1,0.4,1.4,0l6.8-6.8c0.2-0.2,0.3-0.4,0.3-0.7s-0.1-0.5-0.3-0.7l-6.8-6.8C12.5,4.4,12.3,4.2,12,4.2z'/%3E%3Ccircle fill='%23FFF' cx='12' cy='12' r='1.7'/%3E%3C/svg%3E");
            }
        }
    }

    &.bullet--type_2 {
        li {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2300A3FF' d='M11.9,20.7c-0.5,0-1-0.2-1.4-0.6l-6.8-6.8C3.4,13,3.1,12.5,3.1,12c0-0.5,0.2-1,0.6-1.4l6.8-6.8c0.8-0.8,2.1-0.8,2.8,0l0,0l0,0l6.8,6.8c0.4,0.4,0.6,0.9,0.6,1.4c0,0.5-0.2,1-0.6,1.4l-6.8,6.8C12.9,20.5,12.4,20.7,11.9,20.7z M11.9,4.2c-0.3,0-0.5,0.1-0.7,0.3l-6.8,6.8c-0.2,0.2-0.3,0.4-0.3,0.7s0.1,0.5,0.3,0.7l6.8,6.8c0.4,0.4,1,0.4,1.4,0l6.8-6.8c0.2-0.2,0.3-0.4,0.3-0.7s-0.1-0.5-0.3-0.7l-6.8-6.8C12.4,4.3,12.2,4.2,11.9,4.2z'/%3E%3Cpath fill='%231E76E2' d='M11.7,14.6c-0.3,0-0.5-0.1-0.7-0.3l-2.6-2.6c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l1.9,1.9l7.4-7.4c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-8.2,8.2C12.2,14.5,12,14.6,11.7,14.6z'/%3E%3C/svg%3E");
            }
        }
    }

    &.bullet--type_2_white {
        li {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFF' opacity='0.6' d='M11.9,20.7c-0.5,0-1-0.2-1.4-0.6l-6.8-6.8C3.4,13,3.1,12.5,3.1,12c0-0.5,0.2-1,0.6-1.4l6.8-6.8c0.8-0.8,2.1-0.8,2.8,0l0,0l0,0l6.8,6.8c0.4,0.4,0.6,0.9,0.6,1.4c0,0.5-0.2,1-0.6,1.4l-6.8,6.8C12.9,20.5,12.4,20.7,11.9,20.7z M11.9,4.2c-0.3,0-0.5,0.1-0.7,0.3l-6.8,6.8c-0.2,0.2-0.3,0.4-0.3,0.7s0.1,0.5,0.3,0.7l6.8,6.8c0.4,0.4,1,0.4,1.4,0l6.8-6.8c0.2-0.2,0.3-0.4,0.3-0.7s-0.1-0.5-0.3-0.7l-6.8-6.8C12.4,4.3,12.2,4.2,11.9,4.2z'/%3E%3Cpath fill='%23FFF' d='M11.7,14.6c-0.3,0-0.5-0.1-0.7-0.3l-2.6-2.6c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l1.9,1.9l7.4-7.4c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-8.2,8.2C12.2,14.5,12,14.6,11.7,14.6z'/%3E%3C/svg%3E");
            }
        }
    }
}

.responsive-table {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    border: none;
    font-size: 16px;
    width: 100%;

    th {
        background-color: #D9D9D9;
        padding: 20px;
    }

    td,
    th {
        border: none;
        font-weight: 300;
        padding: 10px;
        text-align: left;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    th {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    tbody {
        tr:nth-child(1) {
            td {
                padding-top: 20px;
            }
        }
    }

    b {
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
}

.text-center-desktop {
    @media(min-width: $md) {
        text-align: center;
    }
}

.text-right {
    text-align: right;
}

.text-right-desktop {
    @media(min-width: $md) {
        text-align: right;
    }
}

blockquote {
    font-size: 22px;
    font-style: italic;
    line-height: 1.27272;
    margin: 24px 0;
    position: relative;
    z-index: 1;
    @media(max-width: $sm - 0.02px) {
        padding-top: 32px;
    }
    @media(min-width: $sm) {
        padding-left: 32px;
    }
    @media(min-width: 1300px) {
        margin-left: -32px;
    }
    @media(min-width: $fhd) {
        font-size: 32px;
        line-height: 1.25;
    }

    &::before {
        background: url("../images/icons/quotes.svg") no-repeat 0 0 transparent;
        content: '';
        height: 24px;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
        z-index: 1;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}