.checkbox {
    align-items: center;
    display: flex;
    gap: 8px;
    font-family: var(--secondary_font);
    @include hover {
        input {
            &:not(:disabled) {
                & + .checkbox__icon {
                    border-color: var(--primary);
                }
            }
        }
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            background-color: var(--primary);
            border-color: var(--primary);
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M9.75 18L3 11.25L4.0605 10.1895L9.75 15.8783L19.9395 5.68951L21 6.75001L9.75 18Z'/%3E%3C/svg%3E");
        }

        &:not(:disabled) ~ .checkbox__icon {
            cursor: pointer;
        }

        &:disabled ~ .checkbox__icon {
            background-color: var(--grey_medium);
            user-select: none;
        }

        &:checked:disabled ~ .checkbox__icon {
            background-color: var(--grey_medium);
        }
    }

    &__icon {
        border-radius: 4px;
        border: 1px solid var(--grey_medium);
        background-color: #fff;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        height: 24px;
        min-width: 24px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 24px;
    }
}