.document {
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    @media(min-width: $fhd) {
        font-size: 16px;
        line-height: 1.5;
    }

    &__image {
        border-radius: 16px;
        background-color: #8ABDDC;
        margin-bottom: 24px;
        overflow: hidden;

        img {
            background-color: #8ABDDC;
            border-radius: 16px;
            display: block;
            mix-blend-mode: overlay;
            width: 100%;
        }
    }
}

.docs-slider {}