.footer {
    background: linear-gradient(0.85deg, #0045A2 0.73%, #2FA5E6 84.02%, #EFF8FF 99.27%);
    color: #fff;
    flex-shrink: 0;
    position: relative;
    z-index: 1;

    &::before {
        background: url("../images/backgrounds/footer/mobile.svg") no-repeat 50% 100% / 100% auto;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        @media(min-width: $md) {
            background: url("../images/backgrounds/footer/desktop.svg") no-repeat 50% 100% / 100% auto;
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__mobile {
        font-family: var(--secondary_font);
        font-size: 14px;
        line-height: 1.28571;
        padding-top: 55px;
        padding-bottom: 90px;
        @media(min-width: $md) {
            display: none;
        }

        .footer__title {
            font-size: 16px;
        }
    }

    &__mobile-block {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__title {
        font-weight: 600;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        a {
            display: inline-block;
        }

        img {
            display: block;
        }
    }

    &__desktop {
        @media(max-width: $md - 0.02px) {
            display: none;
        }

        .footer__title {
            font-size: 20px;
            line-height: 1.2;
        }
    }
}

.f-ratings {
    &__layout {
        &--mobile {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;

            & > * {
                width: calc(100% / 2 - 8px / 2);
            }
        }

        & > * {
            display: block;

            img {
                display: block;
            }
        }
    }
}

.f-reqs {
    p {
        &:not([class]) {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

.f-gos {
    p {
        &:not([class]) {
            color: var(--blue_light);
            opacity: 0.6;
        }
    }
}

.f-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .social-link {
        color: #fff;
    }
}

.f-service-menu {
    @include list-reset;
    color: rgba(255,255,255,0.6);

    li {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    a {
        color: currentColor;
        text-decoration: none;
        transition: color 0.3s;
        @include hover {
            color: #fff;
        }
        @include active {
            color: #fff;
        }
    }
}

.coala {
    display: flex;
    gap: 8px;

    svg {
        fill: currentColor;
        height: 24px;
        min-width: 35px;
        width: 35px;
    }
}

.f-accordion {
    &:not(:last-child) {
        border-bottom: 1px solid rgba(239, 248, 255, 0.35);
    }

    &__toggler {
        @include button-reset;
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        gap: 8px;
        min-height: 48px;
        justify-content: space-between;
        width: 100%;

        &.is-active {
            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            fill: currentColor;
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }

    &__body {
        display: none;
        font-size: 16px;
        line-height: 1.5;
        padding-bottom: 16px;

        a {
            color: #fff;
            text-decoration: none;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &__menu {
        @include list-reset;

        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}