.gallery-slider {
    position: relative;
    z-index: 1;
    @media(max-width: $md - 0.02px) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
    }

    .swiper-slide {
        height: auto;
        padding-top: 1px;
        padding-bottom: 1px;
        @media(max-width: $md - 0.02px) {
            width: 328px;
        }

        img {
            border-radius: 24px;
            display: block;
            width: 100%;
        }
    }
}