.header-container {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;

    &__inner {
        min-height: var(--header_min_heigt);
    }
}

.page--banner {
    .header {
        color: #fff;

        &::after {
            background: linear-gradient(180deg, rgba(34, 127, 200, 0.74) 0%, rgba(34, 127, 200, 0) 100%);
            content: '';
            height: 88px;
            left: 0;
            position: absolute;
            pointer-events: none;
            right: 0;
            top: 0;
            z-index: -1;
            @media(min-width: $fhd) {
                height: 192px;
            }
        }

        &.is-scrolled {
            color: var(--dark);
        }
    }
}

.page--inner {
    .header__callback {
        background-color: var(--primary);
        color: #fff;
        outline: 5px solid rgba(30, 118, 226, 0.18);
        @include hover {
            background-color: var(--primary_hover);
            color: #fff;

            &::before {
                opacity: 0;
            }

            &::after {
                background-color: #E0F7FF;
            }
        }
        @include active {
            background-color: var(--primary_pressed);
            color: #fff;
        }

        &::before {
            background: radial-gradient(100% 100% at 50% 0%, #1066D0 0%, #5BA5FF 100%);
            bottom: 0;
            content: '';
            left: 0;
            opacity: 1;
            position: absolute;
            right: 0;
            transition: opacity 0.3s;
            top: 0;
        }

        &::after {
            background-color: #7DDCFF;
            background-blend-mode: plus-lighter;
            content: '';
            filter: blur(30px);
            height: 100%;
            left: 15%;
            position: absolute;
            right: 15%;
            top: 100%;
            transition: background-color 0.3s;
            transform: translateY(-50%);
            z-index: 0;
        }
    }
}

.header {
    color: var(--dark);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color 0.3s, color 0.3s;
    z-index: 10;

    &.is-scrolled,
    &.menu-is-open {
        background-color: #fff;
        color: var(--dark);

        &::after {
            display: none;
        }

        .header__bottom,
        .header__top {
            background-color: #fff;
        }

        .header__logo {
            svg {
                fill: var(--dark);
            }
        }

        .header__callback {
            background-color: var(--primary);
            color: #fff;
            outline: 5px solid rgba(30, 118, 226, 0.18);
            @include hover {
                background-image: none;
                background-color: var(--primary_hover);

                &::before {
                    opacity: 0;
                }

                &::after {
                    background-color: #E0F7FF;
                }
            }
            @include active {
                background-image: none;
                background-color: var(--primary_pressed);
            }

            &::before {
                background: radial-gradient(100% 100% at 50% 0%, #1066D0 0%, #5BA5FF 100%);
                bottom: 0;
                content: '';
                left: 0;
                opacity: 1;
                position: absolute;
                right: 0;
                transition: opacity 0.3s;
                top: 0;
            }

            &::after {
                background-color: #7DDCFF;
                background-blend-mode: plus-lighter;
                content: '';
                filter: blur(30px);
                height: 100%;
                left: 15%;
                position: absolute;
                right: 15%;
                top: 100%;
                transition: background-color 0.3s;
                transform: translateY(-50%);
                z-index: 0;
            }
        }

        .header__bottom-menu-item {
            & > a {
                color: var(--dark);
                @include hover {
                    color: var(--dark);
                }
                @include active {
                    color: var(--dark);
                }
            }
        }
    }

    &__container {
        min-height: 56px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1910px;
        padding-left: 8px;
        padding-right: 8px;
        @media(min-width: $md) {
            padding-left: 16px;
            padding-right: 16px;
        }
        @media(min-width: $fhd) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .header__bottom,
    .header__top {
        transition: background-color 0.3s;

        .social-link {
            @include hover {
                color: var(--primary_hover);
            }
            @include active {
                color: var(--primary_pressed);
            }
        }

        .header__top-menu-dropdown {
            a {
                color: var(--dark);
                @include hover {
                    color: var(--primary_hover);
                    text-decoration: none;
                }
                @include active {
                    color: var(--primary_pressed);
                    text-decoration: none;
                }
            }
        }
    }

    &__top {
        border-bottom: 1px solid var(--blue_medium);
        font-family: var(--secondary_font);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.33333;
        position: relative;
        z-index: 2;
        @media(max-width: $md - 0.02px) {
            display: none;
        }
        @media(min-width: $lg) {
            font-size: 16px;
        }
        @media(min-width: $fhd) {
            font-size: 18px;
        }

        .header__container {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    &__top-menu {
        @include list-reset;
        align-items: center;
        display: flex;
        gap: 12px;
        @media(min-width: $lg) {
            gap: 16px;
        }
        @media(min-width: $fhd) {
            gap: 24px;
        }
    }

    &__top-menu-item {
        position: relative;
        z-index: 1;
        @include hover {
            .header__top-menu-dropdown {
                opacity: 1;
                visibility: visible;
            }

            a {
                & > svg {
                    transform: rotate(180deg);
                }

                & > span {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        a {
            @include active-area;
            align-items: center;
            color: currentColor;
            display: flex;
            gap: 4px;
            position: relative;
            text-decoration: none;
            @include hover {
                color: currentColor;

                svg {
                    transform: rotate(180deg);
                }

                span {
                    &::after {
                        width: 100%;
                    }
                }
            }
            @include active {
                color: currentColor;
            }

            span {
                position: relative;

                &::after {
                    background-color: currentColor;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    top: 100%;
                    transition: width 0.3s;
                    width: 0;
                }
            }

            svg {
                fill: currentColor;
                height: 12px;
                min-width: 12px;
                width: 12px;
                @media(max-width: $fhd - 0.02px) {
                    margin-top: 2px;
                }
                @media(min-width: $fhd) {
                    height: 16px;
                    min-width: 16px;
                    width: 16px;
                }
            }
        }
    }

    &__top-menu-dropdown {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 90, 199, 0.25);
        border-radius: 12px;
        font-size: 14px;
        font-weight: 400;
        left: 0;
        min-width: 350px;
        opacity: 0;
        padding: 8px;
        position: absolute;
        top: calc(100% + 8px);
        transition: visibility 0.3s, opacity 0.3s;
        visibility: hidden;
        z-index: 1;
        @media(min-width: $lg) {
            font-size: 16px;
        }

        ul {
            @include list-reset
        }

        li {
            &:not(:last-child) {
                @media(min-width: $lg) {
                    margin-bottom: 8px;
                }
            }
        }

        a {
            align-items: center;
            color: var(--dark);
            display: flex;
            min-height: 32px;
            padding-left: 8px;
            padding-right: 8px;
            position: relative;
            @include hover {
                color: var(--primary_hover);
                text-decoration: none;
            }
            @include active {
                color: var(--primary_pressed);
                text-decoration: none;
            }
        }
    }

    &__contacts {
        align-items: center;
        color: currentColor;
        display: flex;
        gap: 16px;
        @media(min-width: $fhd) {
            gap: 32px;
        }

        a {
            @include active-area;
            align-items: center;
            color: currentColor;
            display: flex;
            gap: 4px;
            position: relative;
            text-decoration: none;
            @include hover {
                color: currentColor;

                span {
                    &::after {
                        width: 100%;
                    }
                }
            }
            @include active {
                color: currentColor;
            }

            span {
                position: relative;

                &::after {
                    background-color: currentColor;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    top: 100%;
                    transition: width 0.3s;
                    width: 0;
                }
            }
        }
    }

    &__address {
        @media(max-width: $lg - 0.02px) {
            display: none;
        }
    }

    &__socials {
        display: flex;
        gap: 10px;
    }

    &__bottom {
        .header__container {
            display: flex;
            @media(max-width: $md - 0.02px) {
                min-height: var(--header_min_heigt);
            }
            @media(min-width: $fhd) {
                min-height: 70px;
            }
        }
    }

    &__logo {
        align-items: center;
        color: currentColor;
        display: flex;
        gap: 6px;
        width: 155px;
        @media(min-width: $fhd) {
            gap: 8px;
            width: 206px;
        }

        img {
            display: block;
            width: 47px;
            @media(min-width: $fhd) {
                width: 63px;
            }
        }

        svg {
            fill: currentColor;
            height: 34px;
            transition: fill 0.3s;
            width: 101px;
            @media(min-width: $fhd) {
                height: 45px;
                width: 134px;
            }
        }
    }

    &__menu-opener {
        @include button-reset;
        align-self: center;
        border-radius: 50%;
        height: 40px;
        margin-left: auto;
        outline: 5px solid rgba(30, 118, 226, 0.18);
        position: relative;
        width: 40px;
        z-index: 1;
        @media(min-width: $md) {
            display: none;
        }

        span {
            align-items: center;
            background-color: var(--blue_light);
            border-radius: 50%;
            border: 1px solid var(--blue_medium);
            display: flex;
            height: 40px;
            justify-content: center;
            width: 40px;
        }

        &::after {
            background-color: var(--primary);
            border-radius: 50%;
            content: '';
            height: 52px;
            left: 50%;
            opacity: 0.2;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 52px;
            z-index: -1;
        }

        svg {
            fill: var(--primary);
            height: 24px;
            width: 24px;
        }
    }

    &__bottom-menu {
        @include list-reset;
        display: flex;
        gap: 12px;
        font-size: 14px;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        @media(max-width: $md - 0.02px) {
            display: none;
        }
        @media(min-width: $lg) {
            font-size: 16px;
            gap: 16px;
        }
        @media(min-width: $fhd) {
            font-size: 20px;
            gap: 24px;
        }
    }

    &__bottom-menu-item {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        @media(min-width: $lg) {
            padding-top: 8px;
            padding-bottom: 13px;
        }
        @include hover {
            & > a {
                & > svg {
                    transform: rotate(180deg);
                }

                & > span {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        & > a {
            @include active-area;
            align-items: center;
            color: currentColor;
            display: flex;
            gap: 8px;
            position: relative;
            text-decoration: none;
            z-index: 1;
            @include hover {
                color: currentColor;

                & > svg {
                    transform: rotate(180deg);
                }

                & > span {
                    &::after {
                        width: 100%;
                    }
                }
            }
            @include active {
                color: currentColor;
            }

            & > span {
                position: relative;

                &::after {
                    background-color: currentColor;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    top: 100%;
                    transition: width 0.3s;
                    width: 0;
                }
            }

            & > svg {
                fill: currentColor;
                height: 12px;
                min-width: 12px;
                margin-top: 5px;
                width: 12px;
                @media(min-width: $fhd) {
                    height: 16px;
                    min-width: 16px;
                    width: 16px;
                }
            }
        }
    }

    &__callback {
        align-self: center;
        color: var(--primary);
        outline: 5px solid rgba(255, 255, 255, 0.18);
        @media(max-width: $hd - 0.02px) {
            display: none;
        }
        @media(max-width: $fhd - 0.02px) {
            font-size: 16px;
            height: 40px;
            padding-left: 16px;
            padding-right: 16px;
        }
        @include hover {
            color: var(--primary_hover);
        }
        @include active {
            color: var(--primary_pressed);
        }

        &::before {
            background: radial-gradient(100% 100% at 50% 0%, #FFFFFF 0%, #E1EEFF 100%);
            bottom: 0;
            content: '';
            left: 0;
            opacity: 1;
            position: absolute;
            right: 0;
            transition: opacity 0.3s;
            top: 0;
        }
    }
}

.m-menu {
    --header_height: 60px;
    background-color: #fff;
    bottom: 0;
    font-family: var(--secondary_font);
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__header {
        align-items: center;
        background-color: var(--blue_medium);
        display: flex;
        flex-shrink: 0;
        height: var(--header_height);
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__title {
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    &__main-title {
        color: var(--dark);
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }

    &__header-button {
        @include button-reset;
        align-items: center;
        color: var(--dark);
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        transition: color 0.3s;
        width: 40px;
        @include hover {
            color: var(--primary_hover);
        }

        &--back {
            display: none;
            margin-left: -8px;
        }

        &--closer {
            margin-right: -8px;
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }

    &__content {
        flex-grow: 1;
        overflow-y: auto;
        position: relative;

        &.is-overflow {
            overflow: hidden;
        }
    }

    &__list {
        @include list-reset;
    }

    &__list-item {}

    &__link {
        align-items: center;
        border-bottom: 1px solid rgba(218, 240, 255, 0.75);
        color: var(--dark);
        display: flex;
        gap: 8px;
        min-height: 48px;
        padding-left: 16px;
        padding-right: 16px;
        text-decoration: none;
        @include hover {
            color: var(--primary_hover);
        }
        @include active {
            color: var(--primary_pressed);
        }

        &--small {
            font-size: 16px;
            font-weight: 400;
        }

        &--big {
            font-size: 18px;
            font-weight: 500;
            justify-content: space-between;
        }

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }

        &.is-active {
            background-color: rgba(30,118,226,0.1);
            border-left: 2px solid var(--primary);
            color: var(--primary_pressed);

            .check {
                margin-left: auto;
            }
        }
    }

    &__submenu {
        background-color: #fff;
        bottom: 0;
        display: none;
        left: 0;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: var(--header_height);
        z-index: 1;
    }
}

.d-menu {
    border-top: 1px solid var(--blue_medium);
    left: 0;
    display: none;
    opacity: 0;
    position: absolute;
    padding-top: 16px;
    padding-bottom: 16px;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    top: 100%;
    z-index: -1;
    @media(min-width: $fhd) {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &.is-open {
        display: block;
    }

    &.is-visible {
        background-color: #fff;
        opacity: 1;
        transform: translateY(0);
    }

    &__inner {
        align-items: flex-start;
        display: flex;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1910px;
        padding-left: 16px;
        padding-right: 16px;
        @media(min-width: $fhd) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &__tabs-buttons {
        max-width: 330px;
        width: 17.8%;
    }

    &__tabs-button {
        border: none;
        border-right: 2px solid transparent;
        background-color: transparent;
        color: var(--dark);
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        min-height: 40px;
        padding: 4px 12px 7px;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        text-align: left;
        width: 100%;
        @media(min-width: $fhd) {
            font-size: 20px;
            font-weight: 600;
            min-height: 48px;
        }

        &:not(.is-active) {
            @include hover {
                color: var(--primary_hover);
            }
        }

        &.is-active {
            background-color: rgba(30,118,226,0.1);
            border-right-color: var(--primary);
        }
    }

    &__tabs {
        width: calc(100% - 17.8% - 32px);
    }

    &__tab {
        display: none;

        &.is-active {
            display: block;
        }
    }

    &__list {
        @include list-reset;
        color: var(--dark);
        display: grid;
        font-size: 14px;
        font-weight: 400;
        gap: 12px 24px;
        grid-template-columns: repeat(4, 1fr);
        line-height: 1.6;
        @media(min-width: $lg) {
            grid-template-columns: repeat(5, 1fr);
            gap: 16px 24px;
        }
        @media(min-width: $fhd) {
            font-size: 20px;
            gap: 16px 32px;
        }

        a {
            align-items: flex-start;
            color: var(--dark);
            display: flex;
            gap: 8px;
            text-decoration: none;
            @include hover {
                color: var(--primary_hover);
            }
            @include active {
                color: var(--primary_pressed);
            }

            span {
                &::after {
                    display: none;
                }
            }

            svg {
                fill: currentColor;
                height: 24px;
                min-width: 24px;
                margin-top: 0.05em;
                width: 24px;
                @media(min-width: $fhd) {
                    margin-top: 0.3em;
                }
            }
        }
    }
}