.link-card {
    border-radius: 16px;
    background-color: #CFEDFF;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33333;
    padding: 16px;
    text-decoration: none;
    @media(min-width: $fhd) {
        font-size: 23px;
        line-height: 1.39130;
    }
    @include hover {
        color: var(--primary_hover);
    }
    @include active {
        color: var(--primary_pressed);
    }

    &__image {
        display: block;
        margin-bottom: 8px;
        width: 64px;
        @media(min-width: $fhd) {
            margin-bottom: 40px;
            width: 80px;
        }
    }

    &__title {
        align-items: flex-end;
        display: flex;
        gap: 2px;
        margin-top: auto;

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
            @media(min-width: $fhd) {
                transform: translateY(-4px);
            }
        }
    }
}

h2 + .links-cards-slider {
    @media(min-width: $fhd) {
        margin-top: 56px;
    }
}

.links-cards-slider {
    @media(min-width: $lg) {
        margin-left: -24px;
        margin-right: -24px;
    }
    @media(min-width: 1600px) {
        margin-left: -48px;
        margin-right: -48px;
    }

    .swiper-slide {
        @media(max-width: $hd - 0.02px) {
            width: 328px;
        }

        .link-card {
            height: 100%;
        }
    }

    .slider-arrow {
        background-color: var(--primary);
        height: 36px;
        width: 36px;

        &.swiper-button-prev {
            @media(min-width: $lg) {
                left: -52px;
            }
        }

        &.swiper-button-next {
            @media(min-width: $lg) {
                right: -52px;
            }
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
        }
    }
}