.why-image {
    transition: opacity 0.3s;
}

.why {
    border-radius: 16px;
    border: 1px solid transparent;
    margin-left: -24px;
    padding: 8px 24px;
    position: relative;
    transition: border-color 0.3s;
    z-index: 1;

    &.is-active {
        border-color: var(--blue_dark);

        &::after {
            opacity: 1;
        }

        .why__toggler {
            color: var(--primary);
        }

        .why__progress {
            animation: widthChange 3.8s linear;
        }
    }

    &__progress-bar {
        bottom: 0;
        height: 2px;
        left: 40px;
        position: absolute;
        top: auto;
        width: calc(100% - 80px);
        z-index: 1;
    }

    &__progress {
        background-color: var(--primary);
        height: 2px;
        width: 0;
    }
    /*&::after {
        bottom: 0;
        background-color: var(--primary);
        content: '';
        height: 2px;
        left: 40px;
        opacity: 0;
        position: absolute;
        top: auto;
        transition: opacity 0.3s;
        width: 140px;
        z-index: 1;
    }*/
    &__toggler {
        @include button-reset;
        align-items: center;
        cursor: default;
        display: flex;
        gap: 8px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33333;
        justify-content: flex-start;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: color 0.3s;
        width: 100%;
        @media(min-width: $fhd) {
            font-size: 24px;
        }
        /*@include hover {
            &:not(.is-active) {
                color: var(--primary_hover);
            }
        }*/
        &.is-active {
            color: var(--primary);
        }

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    &__body {
        display: none;
        padding-bottom: 8px;
    }
}
@keyframes widthChange {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.m-why {
    border-radius: 24px;
    border: 1px solid var(--blue_dark);
    display: flex;
    flex-direction: column;
    padding: 16px;

    &__title {
        align-items: center;
        color: var(--primary);
        display: flex;
        gap: 8px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    img {
        margin-top: auto;
    }
}

.why-we {
    &.mobile-hidden {
        @media(max-width: $md - 0.02px) {
            display: none;
        }
    }
}

.why-slider {
    &.desktop-hidden {
        @media(min-width: $md) {
            display: none;
        }
    }

    .swiper-slide {
        .m-why {
            height: 100%;
        }
    }
}