<div class="banner banner--bg_3">
    <div class="banner__inner banner__columns">
        <div class="banner__column">
            <h2>Ссылки</h2>
        </div>

        <div class="banner__column">
            <p class="big-text">Будьте в курсе актуальных обновлений и событий в мире FANTASY HEARTS!</p>

            <div class="banner__links">
                <a href="#" target="_blank" rel="nofollow noreferrer">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#globe_icon" />
                    </svg>
                    <span>Перейти на сайт игры</span>
                </a>

                <a href="#" target="_blank" rel="nofollow noreferrer">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#tg_icon" />
                    </svg>
                    <span>Перейти в ТГ-канал</span>
                </a>
            </div>
        </div>
    </div>
</div>