<div class="banner banner--bg_2">
    <div class="banner__inner banner__columns">
        <div class="banner__column">
            <h2>Не готовы к полной разработке? Начните с&nbsp;малого</h2>

            <a class="button button--light button--h_56 mobile-hidden" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_right_24" />
                </svg>
                <span>Узнать больше</span>
            </a>
        </div>

        <div class="banner__column">
            <p class="big-text">Мы поможем вам создать гейм-дизайн документацию (ГДД) или подготовить питч-презентацию для поиска инвесторов</p>

            <p>Это идеальный вариант, если вы хотите проработать концепцию или привлечь финансирование</p>

            <a class="button button--light button--h_56 desktop-hidden" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_right_24" />
                </svg>
                <span>Узнать больше</span>
            </a>
        </div>
    </div>
    <div class="decor decor--1"></div>
    <div class="decor decor--2"></div>
</div>