<div class="banner banner--bg_1">
    <div class="banner__inner banner__columns banner__columns--reverse">
        <div class="banner__column">
            <img class="banner__illustration" src="images/backgrounds/banners/img.svg" alt="">
        </div>

        <div class="banner__column">
            <h2>Специальные условия</h2>

            <p class="big-text">Закажите игру до конца месяца и получите скидку 10%</p>

            <a class="button button--light button--h_56" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_right_24" />
                </svg>
                <span>Узнать больше</span>
            </a>
        </div>
    </div>
</div>