<div class="float-block">
    <button class="recall arrow-button" type="button">
        <span class="recall__tooltip">Перезвоните мне</span>

        <span class="arrow-button__icon">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#phone_icon" />
            </svg>
        </span>
    </button>

    <a class="js-to-top to-top arrow-button" href="#" title="В начало страницы">
        <span class="arrow-button__icon">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#to_top" />
            </svg>
        </span>
    </a>
</div>