<header class="header compensate-for-scrollbar">
    <div class="header__top">
        <div class="header__container">
            <ul class="header__top-menu">
                <li>
                    <a href="#">Услуги</a>
                </li>
                <li>
                    <a href="#">Прайс</a>
                </li>
                <li>
                    <a href="#">О компании</a>
                </li>
                <li>
                    <a href="#">Статьи</a>
                </li>
                <li>
                    <a href="#">СМИ о нас</a>
                </li>
                <li>
                    <a href="#">Карьера</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>

            <div class="header__contacts">
                <a href="mailto:info@dreamcraftstudio.ru">info@dreamcraftstudio.ru</a>

                <a href="tel:+74991134431">+7 499 113-44-31</a>

                <span>Москва, ш. Каширское, д. 66</span>

                <div class="header__socials">
                    <a class="social-link" href="#" target="_blank" title="Наш Telegram" rel="nofollow noreferrer">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#tg_icon" />
                        </svg>
                    </a>

                    <a class="social-link" href="#" target="_blank" title="Наш WhatsApp" rel="nofollow noreferrer">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#wa_icon" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="header__container">
            <a class="header__logo" href="#" title="На главную">
                <img src="images/logo.svg" alt="DreamCraft">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#logo" />
                </svg>
            </a>

            <button class="header__menu-opener" type="button" title="Открыть меню">
                <span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#burger_icon" />
                    </svg>
                </span>
            </button>
        </div>
    </div>
</header>