<div id="request" class="request-popup">
    <div class="request-popup__inner">
        <div class="request-form">
            <div class="request-form__left">
                <h2>Готовы создать свою<br> игру?</h2>
            </div>

            <div class="request-form__right">
                <p class="request-form__text">Оставьте заявку, и мы свяжемся с вами для обсуждения проекта</p>

                <form class="request-form__form" action="">
                    <div class="input-group">
                        <div class="required">
                            <input class="input" type="text" placeholder="Имя" required>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="required">
                            <input class="input" type="text" placeholder="Телефон" required>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="required">
                            <textarea class="textarea" placeholder="Расскажите о вашем проекте"></textarea>
                        </div>
                    </div>

                    <button class="request-form__submit button button--light button--h_56" type="submit">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>