<div class="articles-slider slider slider--type_1">
    <div class="js-articles-slider swiper" data-slider="articles_slider_2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="blog-card">
                    <a class="blog-card__image" href="#">
                        <img src="images/content/blog/img_3.jpg" srcset="images/content/blog/img_3@2x.jpg 2x" alt="">
                    </a>

                    <div class="blog-card__info">
                        <time class="blog-card__date" datetime="2024-02-18">18.02.2024</time>

                        <h3 class="blog-card__title"><a href="#">Мастер-класс по нарративному дизайну с экспертами индустрии</a></h3>

                        <div class="blog-card__bottom">
                            <a class="blog-card__author" href="#">
                                <img src="images/content/blog/author_2.svg" alt="">

                                <span>Habr</span>
                            </a>

                            <div class="blog-card__props">
                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#timer_icon" />
                                    </svg>

                                    <span>22 мин</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#comment_icon" />
                                    </svg>

                                    <span>389</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg class="star" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>

                                    <span>4.9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="blog-card">
                    <a class="blog-card__image" href="#">
                        <img src="images/content/blog/img.jpg" srcset="images/content/blog/img@2x.jpg 2x" alt="">
                    </a>

                    <div class="blog-card__info">
                        <time class="blog-card__date" datetime="2024-02-18">18.02.2024</time>

                        <h3 class="blog-card__title"><a href="#">Вебинар: Как разработать успешную обучающую игру для бизнеса</a></h3>

                        <div class="blog-card__bottom">
                            <a class="blog-card__author" href="#">
                                <img src="images/content/blog/author_2.svg" alt="">

                                <span>Habr</span>
                            </a>

                            <div class="blog-card__props">
                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#timer_icon" />
                                    </svg>

                                    <span>22 мин</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#comment_icon" />
                                    </svg>

                                    <span>389</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg class="star" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>

                                    <span>4.9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="blog-card">
                    <a class="blog-card__image" href="#">
                        <img src="images/content/blog/img_3.jpg" srcset="images/content/blog/img_3@2x.jpg 2x" alt="">
                    </a>

                    <div class="blog-card__info">
                        <time class="blog-card__date" datetime="2024-02-18">18.02.2024</time>

                        <h3 class="blog-card__title"><a href="#">Мастер-класс по нарративному дизайну с экспертами индустрии</a></h3>

                        <div class="blog-card__bottom">
                            <a class="blog-card__author" href="#">
                                <img src="images/content/blog/author_2.svg" alt="">

                                <span>Habr</span>
                            </a>

                            <div class="blog-card__props">
                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#timer_icon" />
                                    </svg>

                                    <span>22 мин</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#comment_icon" />
                                    </svg>

                                    <span>389</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg class="star" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>

                                    <span>4.9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="blog-card">
                    <a class="blog-card__image" href="#">
                        <img src="images/content/blog/img.jpg" srcset="images/content/blog/img@2x.jpg 2x" alt="">
                    </a>

                    <div class="blog-card__info">
                        <time class="blog-card__date" datetime="2024-02-18">18.02.2024</time>

                        <h3 class="blog-card__title"><a href="#">Вебинар: Как разработать успешную обучающую игру для бизнеса</a></h3>

                        <div class="blog-card__bottom">
                            <a class="blog-card__author" href="#">
                                <img src="images/content/blog/author_2.svg" alt="">

                                <span>Habr</span>
                            </a>

                            <div class="blog-card__props">
                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#timer_icon" />
                                    </svg>

                                    <span>22 мин</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#comment_icon" />
                                    </svg>

                                    <span>389</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg class="star" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>

                                    <span>4.9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="blog-card">
                    <a class="blog-card__image" href="#">
                        <img src="images/content/blog/img_3.jpg" srcset="images/content/blog/img_3@2x.jpg 2x" alt="">
                    </a>

                    <div class="blog-card__info">
                        <time class="blog-card__date" datetime="2024-02-18">18.02.2024</time>

                        <h3 class="blog-card__title"><a href="#">Мастер-класс по нарративному дизайну с экспертами индустрии</a></h3>

                        <div class="blog-card__bottom">
                            <a class="blog-card__author" href="#">
                                <img src="images/content/blog/author_2.svg" alt="">

                                <span>Habr</span>
                            </a>

                            <div class="blog-card__props">
                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#timer_icon" />
                                    </svg>

                                    <span>22 мин</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#comment_icon" />
                                    </svg>

                                    <span>389</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg class="star" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>

                                    <span>4.9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="blog-card">
                    <a class="blog-card__image" href="#">
                        <img src="images/content/blog/img.jpg" srcset="images/content/blog/img@2x.jpg 2x" alt="">
                    </a>

                    <div class="blog-card__info">
                        <time class="blog-card__date" datetime="2024-02-18">18.02.2024</time>

                        <h3 class="blog-card__title"><a href="#">Вебинар: Как разработать успешную обучающую игру для бизнеса</a></h3>

                        <div class="blog-card__bottom">
                            <a class="blog-card__author" href="#">
                                <img src="images/content/blog/author_2.svg" alt="">

                                <span>Habr</span>
                            </a>

                            <div class="blog-card__props">
                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#timer_icon" />
                                    </svg>

                                    <span>22 мин</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#comment_icon" />
                                    </svg>

                                    <span>389</span>
                                </div>

                                <div class="blog-card__prop">
                                    <svg class="star" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>

                                    <span>4.9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-articles-slider-pagination slider-pagination swiper-pagination" data-slider="articles_slider_2"></div>
    </div>

    <button class="js-articles-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="articles_slider_2">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-articles-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="articles_slider_2">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>