<div class="big-features-slider slider slider--type_1">
    <div class="js-big-features-slider swiper" data-slider="big_features_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="big-feature">
                    <div class="big-feature__image">
                        <img src="images/content/features/big_feature.jpg" srcset="images/content/features/big_feature@2x.jpg 2x" alt="">
                    </div>

                    <div class="big-feature__text-block">
                        <h3>Преимущество</h3>

                        <p>С развитием технологий каждое новое открытие становится значительным шагом вперёд. Современные решения находят применение в различных сферах жизни, улучшая качество и ускоряя процессы. Важно быть в курсе последних
                            тенденций, чтобы не упустить новые возможности.</p>

                        <blockquote>
                            <p>Никогда не стойте на месте. Идите вперед, даже если путь кажется трудным. Главное — не останавливаться и верить в успех.</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="big-feature">
                    <div class="big-feature__image">
                        <img src="images/content/features/big_feature.jpg" srcset="images/content/features/big_feature@2x.jpg 2x" alt="">
                    </div>

                    <div class="big-feature__text-block">
                        <h3>Преимущество</h3>

                        <p>С развитием технологий каждое новое открытие становится значительным шагом вперёд. Современные решения находят применение в различных сферах жизни, улучшая качество и ускоряя процессы. Важно быть в курсе последних
                            тенденций, чтобы не упустить новые возможности.</p>

                        <blockquote>
                            <p>Никогда не стойте на месте. Идите вперед, даже если путь кажется трудным. Главное — не останавливаться и верить в успех.</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="big-feature">
                    <div class="big-feature__image">
                        <img src="images/content/features/big_feature.jpg" srcset="images/content/features/big_feature@2x.jpg 2x" alt="">
                    </div>

                    <div class="big-feature__text-block">
                        <h3>Преимущество</h3>

                        <p>С развитием технологий каждое новое открытие становится значительным шагом вперёд. Современные решения находят применение в различных сферах жизни, улучшая качество и ускоряя процессы. Важно быть в курсе последних
                            тенденций, чтобы не упустить новые возможности.</p>

                        <blockquote>
                            <p>Никогда не стойте на месте. Идите вперед, даже если путь кажется трудным. Главное — не останавливаться и верить в успех.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-reviews-slider-pagination slider-pagination swiper-pagination" data-slider="big_features_slider"></div>
    </div>
</div>