<div class="big-cards-slider slider slider--type_1">
    <div class="js-big-cards-slider swiper" data-slider="cases_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="big-card big-card--type_1 big-card--reverse">
                    <div class="big-card__image">
                        <img src="images/content/content_blocks/img_4.jpg" srcset="images/content/content_blocks/img_4@2x.jpg 2x" alt="">
                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_2.svg" alt="">
                    </div>

                    <div class="big-card__text-block">
                        <h4>Задача клиента</h4>

                        <p class="big-card__text">Небольшая студия-стартап хотела создать увлекательную мобильную RPG с элементами PvE и PvP, но:</p>

                        <div id="big_card_detail_3" class="big-card__popup">
                            <div class="big-card__popup-inner">
                                <div class="big-card__popup-preview">
                                    <div class="big-card__image">
                                        <img src="images/content/content_blocks/img_4.jpg" srcset="images/content/content_blocks/img_4@2x.jpg 2x" alt="">
                                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_2.svg" alt="">
                                    </div>

                                    <h4>Задача клиента</h4>

                                    <p>Небольшая студия-стартап хотела создать увлекательную мобильную RPG с элементами PvE и PvP, но:</p>
                                </div>

                                <ul class="bullet bullet--type_1">
                                    <li>Не было чёткого ТЗ — только идея «как у Genshin Impact, но проще»</li>
                                    <li>Бюджет ограничен, сроки — 6 месяцев.</li>
                                </ul>

                                <h4>Решение</h4>

                                <p>За 2 недели сформировали концепцию игры:</p>

                                <ul class="bullet bullet--type_2">
                                    <li>Система «гильдий» для соц. взаимодействия.</li>
                                    <li>Яркий арт в стиле аниме (но без дорогой 3D-графики).</li>
                                </ul>

                                <h4>Результаты (за первые 3 месяца после релиза)</h4>

                                <table class="big-card__results">
                                    <tr>
                                        <td><span class="big-card__result">500k+</span></td>
                                        <td>Установок (при CAC $0.80 благодаря виральным механикам)</td>
                                    </tr>
                                    <tr>
                                        <td><span class="big-card__result">45%</span></td>
                                        <td>Retention на 7-й день (выше рынка на 15%)</td>
                                    </tr>
                                    <tr>
                                        <td><span class="big-card__result">$200k</span></td>
                                        <td>Прибыли с внутриигровых покупок</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <button class="big-card__more more-button" type="button" data-fancybox="big-big_card_detail_3" data-src="#big_card_detail_3">
                            <span>Подробнее</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#popup_icon" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="big-card big-card--type_1">
                    <div class="big-card__image">
                        <img src="images/content/content_blocks/img_3.jpg" srcset="images/content/content_blocks/img_3@2x.jpg 2x" alt="">
                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_1.svg" alt="">
                    </div>

                    <div class="big-card__text-block">
                        <h4>Задача клиента</h4>

                        <p class="big-card__text">Небольшая студия-стартап хотела создать увлекательную мобильную RPG с элементами PvE и PvP, но:</p>

                        <div id="big_card_detail_4" class="big-card__popup">
                            <div class="big-card__popup-inner">
                                <div class="big-card__popup-preview">
                                    <div class="big-card__image">
                                        <img src="images/content/content_blocks/img_3.jpg" srcset="images/content/content_blocks/img_3@2x.jpg 2x" alt="">
                                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_1.svg" alt="">
                                    </div>

                                    <h4>Задача клиента</h4>

                                    <p>Небольшая студия-стартап хотела создать увлекательную мобильную RPG с элементами PvE и PvP, но:</p>
                                </div>

                                <ul class="bullet bullet--type_1">
                                    <li>Не было чёткого ТЗ — только идея «как у Genshin Impact, но проще»</li>
                                    <li>Бюджет ограничен, сроки — 6 месяцев.</li>
                                </ul>

                                <h4>Решение</h4>

                                <p>За 2 недели сформировали концепцию игры:</p>

                                <ul class="bullet bullet--type_2">
                                    <li>Система «гильдий» для соц. взаимодействия.</li>
                                    <li>Яркий арт в стиле аниме (но без дорогой 3D-графики).</li>
                                </ul>

                                <h4>Результаты (за первые 3 месяца после релиза)</h4>

                                <table class="big-card__results">
                                    <tr>
                                        <td><span class="big-card__result">500k+</span></td>
                                        <td>Установок (при CAC $0.80 благодаря виральным механикам)</td>
                                    </tr>
                                    <tr>
                                        <td><span class="big-card__result">45%</span></td>
                                        <td>Retention на 7-й день (выше рынка на 15%)</td>
                                    </tr>
                                    <tr>
                                        <td><span class="big-card__result">$200k</span></td>
                                        <td>Прибыли с внутриигровых покупок</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <button class="big-card__more more-button" type="button" data-fancybox="big-big_card_detail_4" data-src="#big_card_detail_4">
                            <span>Подробнее</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#popup_icon" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-big-cards-slider-pagination slider-pagination swiper-pagination" data-slider="cases_slider"></div>
    </div>

    <button class="js-big-cards-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="cases_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-big-cards-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="cases_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>