<div class="reviews-slider">
    <div class="js-reviews-slider swiper" data-slider="clients_cards_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="client-card">
                    <div class="client-card__image">
                        <img src="images/content/reviews/img_2.jpg" srcset="images/content/reviews/img_2@2x.jpg 2x" alt="">
                    </div>

                    <h5>Задача клиента</h5>

                    <p>Крупный банк обратился к нам с задачей повысить вовлеченность новых сотрудников в процесс обучения.</p>

                    <h5>Решение</h5>

                    <p>Мы разработали геймифицированную платформу с квестами и симуляцией реальных банковских ситуаций. Результат — рост прохождения обучающих программ на 45% и сокращение срока адаптации персонала.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="client-card">
                    <div class="client-card__image">
                        <img src="images/content/reviews/img_3.jpg" srcset="images/content/reviews/img_3@2x.jpg 2x" alt="">
                    </div>

                    <h5>Задача клиента</h5>

                    <p>Банк хотел усилить узнаваемость бренда среди молодежной аудитории.</p>

                    <h5>Решение</h5>

                    <p>Мы предложили решение — яркую мобильную аркаду с элементами банковских сервисов и бонусной системой. За первый месяц игру скачали более 100 000 пользователей, а узнаваемость бренда в целевой группе выросла на 30%.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="client-card">
                    <div class="client-card__image">
                        <img src="images/content/reviews/img_2.jpg" srcset="images/content/reviews/img_2@2x.jpg 2x" alt="">
                    </div>

                    <h5>Задача клиента</h5>

                    <p>Крупный банк обратился к нам с задачей повысить вовлеченность новых сотрудников в процесс обучения.</p>

                    <h5>Решение</h5>

                    <p>Мы разработали геймифицированную платформу с квестами и симуляцией реальных банковских ситуаций. Результат — рост прохождения обучающих программ на 45% и сокращение срока адаптации персонала.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="client-card">
                    <div class="client-card__image">
                        <img src="images/content/reviews/img_3.jpg" srcset="images/content/reviews/img_3@2x.jpg 2x" alt="">
                    </div>

                    <h5>Задача клиента</h5>

                    <p>Банк хотел усилить узнаваемость бренда среди молодежной аудитории.</p>

                    <h5>Решение</h5>

                    <p>Мы предложили решение — яркую мобильную аркаду с элементами банковских сервисов и бонусной системой. За первый месяц игру скачали более 100 000 пользователей, а узнаваемость бренда в целевой группе выросла на 30%.</p>
                </div>
            </div>
        </div>

        <div class="js-reviews-slider-pagination slider-pagination swiper-pagination" data-slider="clients_cards_slider"></div>
    </div>

    <button class="js-reviews-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="clients_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-reviews-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="clients_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>