<div class="docs-slider">
    <div class="js-docs-slider swiper" data-slider="docs_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="document">
                    <div class="document__image">
                        <img src="images/content/author/doc.jpg" srcset="images/content/author/doc@2x.jpg 2x" alt="">
                    </div>
                    <p>Сертификат по специальности «Графический дизайн»</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="document">
                    <div class="document__image">
                        <img src="images/content/author/doc.jpg" srcset="images/content/author/doc@2x.jpg 2x" alt="">
                    </div>
                    <p>Сертификат по специальности «Графический дизайн»</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="document">
                    <div class="document__image">
                        <img src="images/content/author/doc.jpg" srcset="images/content/author/doc@2x.jpg 2x" alt="">
                    </div>
                    <p>Сертификат по специальности «Графический дизайн»</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="document">
                    <div class="document__image">
                        <img src="images/content/author/doc.jpg" srcset="images/content/author/doc@2x.jpg 2x" alt="">
                    </div>
                    <p>Сертификат по специальности «Графический дизайн»</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="document">
                    <div class="document__image">
                        <img src="images/content/author/doc.jpg" srcset="images/content/author/doc@2x.jpg 2x" alt="">
                    </div>
                    <p>Сертификат по специальности «Графический дизайн»</p>
                </div>
            </div>
        </div>

        <div class="js-docs-slider-pagination slider-pagination swiper-pagination" data-slider="docs_slider"></div>
    </div>

    <button class="js-docs-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="docs_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-docs-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="docs_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>