<div class="content-block content-block--type_2">
    <h2>Частые вопросы</h2>

    <div class="content-block__image">
        <img src="images/content/content_blocks/img_9.png" srcset="images/content/content_blocks/img_9@2x.png 2x" alt="">
    </div>

    <div class="content-block__text">
        <div class="accordion is-active">
            <button class="js-big-accordion-toggler accordion__toggler is-active" type="button">
                <span>Сколько времени занимает разработка игры?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                </svg>
            </button>

            <div class="accordion__body" style="display: block">
                <p>Срок зависит от масштаба проекта и выбранного тарифа. Простой прототип — от 2 недель, полноценная игра — от 1,5 месяцев и дольше. Мы всегда даём чёткие оценки после обсуждения концепции.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="js-big-accordion-toggler accordion__toggler" type="button">
                <span>Какие жанры игр вы разрабатываете?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                </svg>
            </button>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem possimus cum impedit blanditiis nobis deleniti corrupti sed aliquid incidunt recusandae, voluptatibus perspiciatis totam cupiditate sequi in hic sapiente.
                    Consectetur, pariatur!</p>
                <p>Odit, cumque hic fuga nobis! Laborum ipsum blanditiis eius, aliquid quo enim optio natus, expedita architecto doloribus, unde ex soluta! Molestiae, quibusdam.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="js-big-accordion-toggler accordion__toggler" type="button">
                <span>Можете ли вы сделать игру «под ключ»?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                </svg>
            </button>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem possimus cum impedit blanditiis nobis deleniti corrupti sed aliquid incidunt recusandae, voluptatibus perspiciatis totam cupiditate sequi in hic sapiente.
                    Consectetur, pariatur!</p>
                <p>Odit, cumque hic fuga nobis! Laborum ipsum blanditiis eius, aliquid quo enim optio natus, expedita architecto doloribus, unde ex soluta! Molestiae, quibusdam.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="js-big-accordion-toggler accordion__toggler" type="button">
                <span>Какие платформы вы поддерживаете?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                </svg>
            </button>

            <div class="accordion__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem possimus cum impedit blanditiis nobis deleniti corrupti sed aliquid incidunt recusandae, voluptatibus perspiciatis totam cupiditate sequi in hic sapiente.
                    Consectetur, pariatur!</p>
                <p>Odit, cumque hic fuga nobis! Laborum ipsum blanditiis eius, aliquid quo enim optio natus, expedita architecto doloribus, unde ex soluta! Molestiae, quibusdam.</p>
            </div>
        </div>
    </div>
</div>