<div class="features">
    <div class="features__item">
        <img src="images/content/features/icon_1.svg" alt="">

        <p>Новые технологии: от анализа данных до искусственного интеллекта</p>
    </div>

    <div class="features__item">
        <img src="images/content/features/icon_2.svg" alt="">

        <p>Постоянное совершенствование процессов</p>
    </div>

    <div class="features__item">
        <img src="images/content/features/icon_3.svg" alt="">

        <p>Внедрение новых подходов и методологий</p>
    </div>

    <div class="features__item">
        <img src="images/content/features/icon_4.svg" alt="">

        <p>Обучение и повышение квалификации</p>
    </div>
</div>