<div class="features-cards-slider slider slider--type_2">
    <div class="js-features-cards-slider swiper" data-slider="features_cards_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_9.svg" alt="">
                    </div>

                    <h3>Маркетинг и продажи</h3>

                    <p>Квесты, баллы, уровни и награды для стимулирования покупок, удержания клиентов и повышения вовлечённости.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_10.svg" alt="">
                    </div>

                    <h3>Образование и обучение</h3>

                    <p>Геймифицированные курсы делают обучение интересным, удерживают внимание и поощряют прогресс.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_11.svg" alt="">
                    </div>

                    <h3>Финансовые сервисы и банки</h3>

                    <p>Игровые механики мотивируют изучать финансовую грамотность и использовать продукты компании.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_12.svg" alt="">
                    </div>

                    <h3>Приложения и веб-сервисы</h3>

                    <p>Игровые элементы повышают retention, вовлекают пользователей и стимулируют повторные действия.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_9.svg" alt="">
                    </div>

                    <h3>Маркетинг и продажи</h3>

                    <p>Квесты, баллы, уровни и награды для стимулирования покупок, удержания клиентов и повышения вовлечённости.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_10.svg" alt="">
                    </div>

                    <h3>Образование и обучение</h3>

                    <p>Геймифицированные курсы делают обучение интересным, удерживают внимание и поощряют прогресс.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_11.svg" alt="">
                    </div>

                    <h3>Финансовые сервисы и банки</h3>

                    <p>Игровые механики мотивируют изучать финансовую грамотность и использовать продукты компании.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="feature-card">
                    <div class="feature-card__image">
                        <img src="images/content/features/icon_12.svg" alt="">
                    </div>

                    <h3>Приложения и веб-сервисы</h3>

                    <p>Игровые элементы повышают retention, вовлекают пользователей и стимулируют повторные действия.</p>
                </div>
            </div>
        </div>

        <div class="js-features-cards-slider-pagination slider-pagination swiper-pagination" data-slider="features_cards_slider"></div>
    </div>

    <button class="js-features-cards-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="features_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-features-cards-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="features_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>