<div class="features">
    <div class="features__item">
        <img src="images/content/features/icon_1.svg" alt="">

        <p>Новые технологии: от анализа<br> данных до искусственного<br> интеллекта</p>
    </div>

    <div class="features__item">
        <img src="images/content/features/icon_2.svg" alt="">

        <p>Постоянное совершенствование<br> процессов</p>
    </div>

    <div class="features__item">
        <img src="images/content/features/icon_3.svg" alt="">

        <p>Внедрение новых подходов и<br> методологий</p>
    </div>

    <div class="features__item">
        <img src="images/content/features/icon_4.svg" alt="">

        <p>Обучение и повышение<br> квалификации</p>
    </div>
</div>