<div class="links-cards-slider slider slider--type_2">
    <div class="js-links-cards-slider swiper" data-slider="links_cards_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_1.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> в Telegram</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_2.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> браузерные</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_3.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры на Unity</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_4.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> на Unreal Engine</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_5.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> для бизнеса</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_6.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Дизайн<br> документ (ГДД)</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_1.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> в Telegram</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_2.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> браузерные</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_3.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры на Unity</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_4.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> на Unreal Engine</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_5.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Игры<br> для бизнеса</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="swiper-slide">
                <a class="link-card" href="#">
                    <span class="link-card__image">
                        <img src="images/content/popular/icon_6.svg" alt="">
                    </span>

                    <span class="link-card__title">
                        <span>Дизайн<br> документ (ГДД)</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_right_24" />
                        </svg>
                    </span>
                </a>
            </div>
        </div>

        <div class="js-links-cards-slider-pagination slider-pagination swiper-pagination" data-slider="links_cards_slider"></div>
    </div>

    <button class="js-links-cards-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="links_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-links-cards-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="links_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>