<div class="num-cards-slider">
    <div class="js-num-cards-slider swiper" data-slider="num_cards_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="num-card">
                    <span class="num-card__num">1</span>
                    <h3>Сбор данных</h3>

                    <p>Общаемся с клиентом, составляем техническое задание</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="num-card">
                    <span class="num-card__num">2</span>
                    <h3>Составление проектной документации</h3>

                    <p>Готовим пакет документов, раскрывающий все аспекты игры</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="num-card">
                    <span class="num-card__num">3</span>
                    <h3>Утверждение заказчиком</h3>

                    <p>Согласовываем документацию и вносим финальные правки</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="num-card">
                    <span class="num-card__num">4</span>
                    <h3>Поэтапная разработка</h3>

                    <p>Разработка проекта с доутверждением в процессе по факту выполненных работ</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="num-card">
                    <span class="num-card__num">5</span>
                    <h3>Поэтапная разработка</h3>

                    <p>Разработка проекта с доутверждением в процессе по факту выполненных работ</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="num-card">
                    <span class="num-card__num">6</span>
                    <h3>Поэтапная разработка</h3>

                    <p>Разработка проекта с доутверждением в процессе по факту выполненных работ</p>
                </div>
            </div>
        </div>

        <div class="js-num-cards-slider-pagination slider-pagination swiper-pagination" data-slider="num_cards_slider"></div>
    </div>

    <button class="js-num-cards-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="num_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-num-cards-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="num_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>