<div class="content-block content-block--type_1">
    <div class="content-block__text">
        <h2>Наши партнеры</h2>
        <p class="big-text" style="max-width: 470px">Мы выбираем инструменты, которые подходят под задачи каждого проекта</p>

        <div class="partners-slider-buttons">
            <button class="js-partners-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="partners_slider">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_left_24" />
                </svg>
            </button>

            <button class="js-partners-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="partners_slider">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_right_24" />
                </svg>
            </button>
        </div>
    </div>

    <div class="partners-slider content-block__slider">
        <div class="js-partners-slider swiper" data-slider="partners_slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="partners-logos">
                        <div class="partners-logos__item">
                            <img src="images/content/partners/img.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_2.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_3.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_4.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="partners-logos">
                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_5.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_6.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_7.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_8.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="partners-logos">
                        <div class="partners-logos__item">
                            <img src="images/content/partners/img.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_2.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_3.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_4.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="partners-logos">
                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_5.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_6.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_7.svg" alt="">
                        </div>

                        <div class="partners-logos__item">
                            <img src="images/content/partners/img_8.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="js-partners-slider-pagination slider-pagination swiper-pagination" data-slider="partners_slider"></div>
        </div>
    </div>
</div>