<div class="portfolio-slider slider slider--type_2">
    <div class="js-portfolio-slider swiper" data-slider="portfolio_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="portfolio-card">
                    <div class="portfolio-card__images">
                        <img src="images/content/portfolio/img.jpg" srcset="images/content/portfolio/img@2x.jpg 2x" alt="">

                        <img src="images/content/portfolio/img_2.jpg" srcset="images/content/portfolio/img_2@2x.jpg 2x" alt="">
                    </div>

                    <div class="portfolio-card__badges">
                        <div class="portfolio-card__badge portfolio-card__badge--type_1">Мобильная игра</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">Unity</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">MMO</div>
                    </div>

                    <h3 class="portfolio-card__title"><a href="#">Игра «Бештау — путь к вершине»</a></h3>

                    <p class="portfolio-card__text">С развитием технологий каждое новое открытие становится значительным шагом вперед.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-card">
                    <div class="portfolio-card__images">
                        <img src="images/content/portfolio/img_2.jpg" srcset="images/content/portfolio/img_2@2x.jpg 2x" alt="">

                        <img src="images/content/portfolio/img.jpg" srcset="images/content/portfolio/img@2x.jpg 2x" alt="">
                    </div>

                    <div class="portfolio-card__badges">
                        <div class="portfolio-card__badge portfolio-card__badge--type_1">Мобильная игра</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">Unreal Engine</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">MMORPG</div>
                    </div>

                    <h3 class="portfolio-card__title"><a href="#">Длинное название игры для проверки вёрстки</a></h3>

                    <p class="portfolio-card__text">С развитием технологий каждое новое открытие становится значительным шагом вперед. С развитием технологий каждое новое открытие становится значительным шагом вперед.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-card">
                    <div class="portfolio-card__images">
                        <img src="images/content/portfolio/img.jpg" srcset="images/content/portfolio/img@2x.jpg 2x" alt="">

                        <img src="images/content/portfolio/img_2.jpg" srcset="images/content/portfolio/img_2@2x.jpg 2x" alt="">
                    </div>

                    <div class="portfolio-card__badges">
                        <div class="portfolio-card__badge portfolio-card__badge--type_1">Мобильная игра</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">Unity</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">MMO</div>
                    </div>

                    <h3 class="portfolio-card__title"><a href="#">Игра «Бештау — путь к вершине»</a></h3>

                    <p class="portfolio-card__text">С развитием технологий каждое новое открытие становится значительным шагом вперед.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-card">
                    <div class="portfolio-card__images">
                        <img src="images/content/portfolio/img_2.jpg" srcset="images/content/portfolio/img_2@2x.jpg 2x" alt="">

                        <img src="images/content/portfolio/img.jpg" srcset="images/content/portfolio/img@2x.jpg 2x" alt="">
                    </div>

                    <div class="portfolio-card__badges">
                        <div class="portfolio-card__badge portfolio-card__badge--type_1">Мобильная игра</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">Unreal Engine</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">MMORPG</div>
                    </div>

                    <h3 class="portfolio-card__title"><a href="#">Длинное название игры для проверки вёрстки</a></h3>

                    <p class="portfolio-card__text">С развитием технологий каждое новое открытие становится значительным шагом вперед. С развитием технологий каждое новое открытие становится значительным шагом вперед.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-card">
                    <div class="portfolio-card__images">
                        <img src="images/content/portfolio/img.jpg" srcset="images/content/portfolio/img@2x.jpg 2x" alt="">

                        <img src="images/content/portfolio/img_2.jpg" srcset="images/content/portfolio/img_2@2x.jpg 2x" alt="">
                    </div>

                    <div class="portfolio-card__badges">
                        <div class="portfolio-card__badge portfolio-card__badge--type_1">Мобильная игра</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">Unity</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">MMO</div>
                    </div>

                    <h3 class="portfolio-card__title"><a href="#">Игра «Бештау — путь к вершине»</a></h3>

                    <p class="portfolio-card__text">С развитием технологий каждое новое открытие становится значительным шагом вперед.</p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="portfolio-card">
                    <div class="portfolio-card__images">
                        <img src="images/content/portfolio/img_2.jpg" srcset="images/content/portfolio/img_2@2x.jpg 2x" alt="">

                        <img src="images/content/portfolio/img.jpg" srcset="images/content/portfolio/img@2x.jpg 2x" alt="">
                    </div>

                    <div class="portfolio-card__badges">
                        <div class="portfolio-card__badge portfolio-card__badge--type_1">Мобильная игра</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">Unreal Engine</div>
                        <div class="portfolio-card__badge portfolio-card__badge--type_2">MMORPG</div>
                    </div>

                    <h3 class="portfolio-card__title"><a href="#">Длинное название игры для проверки вёрстки</a></h3>

                    <p class="portfolio-card__text">С развитием технологий каждое новое открытие становится значительным шагом вперед. С развитием технологий каждое новое открытие становится значительным шагом вперед.</p>
                </div>
            </div>
        </div>

        <div class="js-portfolio-slider-pagination slider-pagination swiper-pagination" data-slider="portfolio_slider"></div>
    </div>

    <button class="js-portfolio-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="portfolio_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-portfolio-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="portfolio_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>