<div class="big-cards-slider slider slider--type_1">
    <div class="js-big-cards-slider swiper" data-slider="big_cards_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="big-card big-card--type_1">
                    <div class="big-card__image">
                        <img src="images/content/content_blocks/img_3.jpg" srcset="images/content/content_blocks/img_3@2x.jpg 2x" alt="">
                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_1.svg" alt="">
                    </div>

                    <div class="big-card__text-block">
                        <h3><a href="#">Fantasy Hearts</a></h3>

                        <p class="big-card__text">Мы обсуждаем и формализуем идею, предлагаем оптимальные пути реализации и вместе составляем список базовых требований.</p>

                        <div id="big_card_detail_1" class="big-card__popup">
                            <div class="big-card__popup-inner">
                                <div class="big-card__popup-preview">
                                    <div class="big-card__image">
                                        <img src="images/content/content_blocks/img_3.jpg" srcset="images/content/content_blocks/img_3@2x.jpg 2x" alt="">
                                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_1.svg" alt="">
                                    </div>

                                    <h3><a href="#">Fantasy Hearts</a></h3>

                                    <p>Мы обсуждаем и формализуем идею, предлагаем оптимальные пути реализации и вместе составляем список базовых требований.</p>
                                </div>

                                <p><b>Платформа</b><br> iOS, Android (кросс-платформенный движок Unity)</p>

                                <p><b>Жанр</b><br> Пошаговая RPG с элементами roguelike</p>

                                <p><b>Ключевые особенности</b></p>

                                <ul class="bullet bullet--type_1">
                                    <li>Генерация процедурных подземелий</li>
                                    <li>Глубокая кастомизация персонажа (100+ комбинаций навыков)</li>
                                    <li>PvP-арены с системой сезонных рейтингов</li>
                                    <li>Адаптивный ИИ противников</li>
                                </ul>

                                <button class="button button--dark button--h_56" type="button" data-fancybox="request_project_card_1" data-src="#request">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#report_icon" />
                                    </svg>
                                    <span>Заказать проект</span>
                                </button>
                            </div>
                        </div>

                        <button class="big-card__more more-button" type="button" data-fancybox="big-big_card_detail_1" data-src="#big_card_detail_1">
                            <span>Подробнее</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#popup_icon" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="big-card big-card--type_1">
                    <div class="big-card__image">
                        <img src="images/content/content_blocks/img_4.jpg" srcset="images/content/content_blocks/img_4@2x.jpg 2x" alt="">
                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_2.svg" alt="">
                    </div>

                    <div class="big-card__text-block">
                        <h3><a href="#">Игра «Undeads Rush»</a></h3>

                        <p class="big-card__text">С развитием технологий каждое новое открытие становится значительным шагом вперед. Современные решения находят применение в различных сферах жизни, улучшая качество и ускоряя процессы. Важно быть в
                            курсе последних тенденций, чтобы не упустить новые возможности. С развитием технологий каждое новое открытие становится значительным шагом вперед. Современные решения находят применение в различных сферах жизни, улучшая
                            качество и ускоряя процессы. Важно быть в курсе последних тенденций, чтобы не упустить новые возможности.</p>

                        <div id="big_card_detail_2" class="big-card__popup">
                            <div class="big-card__popup-inner">
                                <div class="big-card__popup-preview">
                                    <div class="big-card__image">
                                        <img src="images/content/content_blocks/img_4.jpg" srcset="images/content/content_blocks/img_4@2x.jpg 2x" alt="">
                                        <img class="big-card__image-decor" src="images/backgrounds/big-card/decor_2.svg" alt="">
                                    </div>

                                    <h3><a href="#">Игра «Undeads Rush»</a></h3>

                                    <p>С развитием технологий каждое новое открытие становится значительным шагом вперед. Современные решения находят применение в различных сферах жизни, улучшая качество и ускоряя процессы. Важно быть в
                                        курсе последних тенденций, чтобы не упустить новые возможности. С развитием технологий каждое новое открытие становится значительным шагом вперед. Современные решения находят применение в различных сферах
                                        жизни, улучшая
                                        качество и ускоряя процессы. Важно быть в курсе последних тенденций, чтобы не упустить новые возможности.</p>
                                </div>

                                <p><b>Платформа</b><br> iOS, Android (кросс-платформенный движок Unity)</p>

                                <p><b>Жанр</b><br> Пошаговая RPG с элементами roguelike</p>

                                <p><b>Ключевые особенности</b></p>

                                <ul class="bullet bullet--type_1">
                                    <li>Генерация процедурных подземелий</li>
                                    <li>Глубокая кастомизация персонажа (100+ комбинаций навыков)</li>
                                    <li>PvP-арены с системой сезонных рейтингов</li>
                                    <li>Адаптивный ИИ противников</li>
                                </ul>

                                <button class="button button--dark button--h_56" type="button" data-fancybox="request_project_card_2" data-src="#request">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#report_icon" />
                                    </svg>
                                    <span>Заказать проект</span>
                                </button>
                            </div>
                        </div>

                        <button class="big-card__more more-button" type="button" data-fancybox="big-big_card_detail_2" data-src="#big_card_detail_2">
                            <span>Подробнее</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#popup_icon" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-big-cards-slider-pagination slider-pagination swiper-pagination" data-slider="big_cards_slider"></div>
    </div>

    <button class="js-big-cards-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="big_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-big-cards-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="big_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>