<div class="reviews-slider slider slider--type_1">
    <div class="js-reviews-slider swiper" data-slider="reviews_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="review">
                    <div class="review__rating">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                    </div>

                    <h3 class="review__about">Игра Undeads Rush</h3>

                    <p class="review__text review__text--overflow">Хочу поделиться своим положительным опытом работы со студией разработки игр DreamCraft Studio. Нам нужна была игра для представления компании на выставке "Россия". Мы остались очень
                        довольны результатами.
                        Все поставленные цели были достигнуты, а работа выполнена точно в срок. Более того, на выставке игра произвела ВАУ-эффект, произошел подъем позитивного образа бренда в глазах общественности, потенциальных клиентов и других
                        заинтересованных сторон (партнёров, инвесторов и конкурентов).</p>

                    <button class="review__more more-button" type="button" data-fancybox="review_1" data-src="#review">
                        <span>Подробнее</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#popup_icon" />
                        </svg>
                    </button>

                    <div id="review" class="review-popup">
                        <div class="review-popup__inner">
                            <div class="review">
                                <div class="review__rating">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                </div>

                                <h3 class="review__about">Игра Undeads Rush</h3>

                                <p class="review__text">Хочу поделиться своим положительным опытом работы со студией разработки игр DreamCraft Studio. Нам нужна была игра для представления компании на выставке "Россия". Мы остались очень довольны
                                    результатами. Все поставленные цели были достигнуты, а работа выполнена точно в срок. Более того, на выставке игра произвела ВАУ-эффект, произошел подъем позитивного образа бренда в глазах общественности,
                                    потенциальных клиентов
                                    и других заинтересованных сторон (партнёров, инвесторов и конкурентов).</p>

                                <div class="review__author author-short">
                                    <div class="author-short__avatar author-short__avatar--bordered">
                                        <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Иван Ургинт">
                                    </div>

                                    <div class="author-short__info">
                                        <p class="author-short__name">Иван Ургинт</p>
                                        <p class="author-short__about">Директор компании «Diamant»</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="review__author author-short">
                        <div class="author-short__avatar author-short__avatar--bordered">
                            <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Иван Ургинт">
                        </div>

                        <div class="author-short__info">
                            <p class="author-short__name">Иван Ургинт</p>
                            <p class="author-short__about">Директор компании «Diamant»</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__rating">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                    </div>

                    <h3 class="review__about">Игра «Кит на самокате»</h3>

                    <p class="review__text review__text--overflow">Когда нам нужно было разработать дизайн экрана оператора крана, мы сами не знали, чего хотим, пока не получили результат, который всем понравился. Это была классическая задача - нам
                        нужно было не просто
                        отрисовать интерфейс, но и придумать что-то по-настоящему удобное и эргономичное для пользователя.</p>

                    <div class="review__author author-short">
                        <div class="author-short__avatar author-short__avatar--bordered">
                            <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Евгений Колюк">
                        </div>

                        <div class="author-short__info">
                            <p class="author-short__name">Евгений Колюк</p>
                            <p class="author-short__about">Директор компании «Ростех»</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__rating">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                    </div>

                    <h3 class="review__about">Игра Undeads Rush</h3>

                    <p class="review__text review__text--overflow">Хочу поделиться своим положительным опытом работы со студией разработки игр DreamCraft Studio. Нам нужна была игра для представления компании на выставке "Россия". Мы остались очень
                        довольны результатами.
                        Все поставленные цели были достигнуты, а работа выполнена точно в срок. Более того, на выставке игра произвела ВАУ-эффект, произошел подъем позитивного образа бренда в глазах общественности, потенциальных клиентов и других
                        заинтересованных сторон (партнёров, инвесторов и конкурентов).</p>

                    <button class="review__more more-button" type="button" data-fancybox="review_3" data-src="#review_3">
                        <span>Подробнее</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#popup_icon" />
                        </svg>
                    </button>

                    <div id="review_3" class="review-popup">
                        <div class="review-popup__inner">
                            <div class="review">
                                <div class="review__rating">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                </div>

                                <h3 class="review__about">Игра Undeads Rush</h3>

                                <p class="review__text">Хочу поделиться своим положительным опытом работы со студией разработки игр DreamCraft Studio. Нам нужна была игра для представления компании на выставке "Россия". Мы остались очень довольны
                                    результатами. Все поставленные цели были достигнуты, а работа выполнена точно в срок. Более того, на выставке игра произвела ВАУ-эффект, произошел подъем позитивного образа бренда в глазах общественности,
                                    потенциальных клиентов
                                    и других заинтересованных сторон (партнёров, инвесторов и конкурентов).</p>

                                <div class="review__author author-short">
                                    <div class="author-short__avatar author-short__avatar--bordered">
                                        <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Иван Ургинт">
                                    </div>

                                    <div class="author-short__info">
                                        <p class="author-short__name">Иван Ургинт</p>
                                        <p class="author-short__about">Директор компании «Diamant»</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="review__author author-short">
                        <div class="author-short__avatar author-short__avatar--bordered">
                            <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Иван Ургинт">
                        </div>

                        <div class="author-short__info">
                            <p class="author-short__name">Иван Ургинт</p>
                            <p class="author-short__about">Директор компании «Diamant»</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__rating">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                    </div>

                    <h3 class="review__about">Игра «Кит на самокате»</h3>

                    <p class="review__text review__text--overflow">Когда нам нужно было разработать дизайн экрана оператора крана, мы сами не знали, чего хотим, пока не получили результат, который всем понравился. Это была классическая задача - нам
                        нужно было не просто
                        отрисовать интерфейс, но и придумать что-то по-настоящему удобное и эргономичное для пользователя.</p>

                    <div class="review__author author-short">
                        <div class="author-short__avatar author-short__avatar--bordered">
                            <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Евгений Колюк">
                        </div>

                        <div class="author-short__info">
                            <p class="author-short__name">Евгений Колюк</p>
                            <p class="author-short__about">Директор компании «Ростех»</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__rating">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                    </div>

                    <h3 class="review__about">Игра Undeads Rush</h3>

                    <p class="review__text review__text--overflow">Хочу поделиться своим положительным опытом работы со студией разработки игр DreamCraft Studio. Нам нужна была игра для представления компании на выставке "Россия". Мы остались очень
                        довольны результатами.
                        Все поставленные цели были достигнуты, а работа выполнена точно в срок. Более того, на выставке игра произвела ВАУ-эффект, произошел подъем позитивного образа бренда в глазах общественности, потенциальных клиентов и других
                        заинтересованных сторон (партнёров, инвесторов и конкурентов).</p>

                    <button class="review__more more-button" type="button" data-fancybox="review_4" data-src="#review_4">
                        <span>Подробнее</span>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#popup_icon" />
                        </svg>
                    </button>

                    <div id="review_4" class="review-popup">
                        <div class="review-popup__inner">
                            <div class="review">
                                <div class="review__rating">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#star_filled_icon" />
                                    </svg>
                                </div>

                                <h3 class="review__about">Игра Undeads Rush</h3>

                                <p class="review__text">Хочу поделиться своим положительным опытом работы со студией разработки игр DreamCraft Studio. Нам нужна была игра для представления компании на выставке "Россия". Мы остались очень довольны
                                    результатами. Все поставленные цели были достигнуты, а работа выполнена точно в срок. Более того, на выставке игра произвела ВАУ-эффект, произошел подъем позитивного образа бренда в глазах общественности,
                                    потенциальных клиентов
                                    и других заинтересованных сторон (партнёров, инвесторов и конкурентов).</p>

                                <div class="review__author author-short">
                                    <div class="author-short__avatar author-short__avatar--bordered">
                                        <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Иван Ургинт">
                                    </div>

                                    <div class="author-short__info">
                                        <p class="author-short__name">Иван Ургинт</p>
                                        <p class="author-short__about">Директор компании «Diamant»</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="review__author author-short">
                        <div class="author-short__avatar author-short__avatar--bordered">
                            <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Иван Ургинт">
                        </div>

                        <div class="author-short__info">
                            <p class="author-short__name">Иван Ургинт</p>
                            <p class="author-short__about">Директор компании «Diamant»</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="review">
                    <div class="review__rating">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#star_filled_icon" />
                        </svg>
                    </div>

                    <h3 class="review__about">Игра «Кит на самокате»</h3>

                    <p class="review__text review__text--overflow">Когда нам нужно было разработать дизайн экрана оператора крана, мы сами не знали, чего хотим, пока не получили результат, который всем понравился. Это была классическая задача - нам
                        нужно было не просто
                        отрисовать интерфейс, но и придумать что-то по-настоящему удобное и эргономичное для пользователя.</p>

                    <div class="review__author author-short">
                        <div class="author-short__avatar author-short__avatar--bordered">
                            <img src="images/content/reviews/img.jpg" srcset="images/content/reviews/img@2x.jpg 2x" alt="Евгений Колюк">
                        </div>

                        <div class="author-short__info">
                            <p class="author-short__name">Евгений Колюк</p>
                            <p class="author-short__about">Директор компании «Ростех»</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-reviews-slider-pagination slider-pagination swiper-pagination" data-slider="reviews_slider"></div>
    </div>

    <button class="js-reviews-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="reviews_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-reviews-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="reviews_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>