<div class="services-cards-slider">
    <div class="js-services-cards-slider swiper" data-slider="services_cards_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="service-card">
                    <div class="service-card__image">
                        <img src="images/content/services/img.jpg" srcset="images/content/services/img@2x.jpg 2x" alt="">
                    </div>

                    <div class="service-card__info">
                        <h3 class="service-card__title">Разработка игр</h3>
                        <p class="service-card__text">С развитием технологий каждое новое открытие становится значительным.</p>

                        <div class="service-card__price-block">
                            <p class="service-card__price">Стоимость от 300 000 ₽</p>

                            <a class="arrow-button" href="#">
                                <span class="arrow-button__icon">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#chevron_right_24" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="service-card">
                    <div class="service-card__image">
                        <img src="images/content/services/img_2.jpg" srcset="images/content/services/img_2@2x.jpg 2x" alt="">
                    </div>

                    <div class="service-card__info">
                        <h3 class="service-card__title">Промо-игры</h3>
                        <p class="service-card__text">С развитием технологий каждое новое открытие становится значительным.</p>

                        <div class="service-card__price-block">
                            <p class="service-card__price">Стоимость от 300 000 ₽</p>

                            <a class="arrow-button" href="#">
                                <span class="arrow-button__icon">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#chevron_right_24" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="service-card">
                    <div class="service-card__image">
                        <img src="images/content/services/img.jpg" srcset="images/content/services/img@2x.jpg 2x" alt="">
                    </div>

                    <div class="service-card__info">
                        <h3 class="service-card__title">Разработка игр</h3>
                        <p class="service-card__text">С развитием технологий каждое новое открытие становится значительным.</p>

                        <div class="service-card__price-block">
                            <p class="service-card__price">Стоимость от 300 000 ₽</p>

                            <a class="arrow-button" href="#">
                                <span class="arrow-button__icon">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#chevron_right_24" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="service-card">
                    <div class="service-card__image">
                        <img src="images/content/services/img_2.jpg" srcset="images/content/services/img_2@2x.jpg 2x" alt="">
                    </div>

                    <div class="service-card__info">
                        <h3 class="service-card__title">Промо-игры</h3>
                        <p class="service-card__text">С развитием технологий каждое новое открытие становится значительным.</p>

                        <div class="service-card__price-block">
                            <p class="service-card__price">Стоимость от 300 000 ₽</p>

                            <a class="arrow-button" href="#">
                                <span class="arrow-button__icon">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#chevron_right_24" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="service-card">
                    <div class="service-card__image">
                        <img src="images/content/services/img.jpg" srcset="images/content/services/img@2x.jpg 2x" alt="">
                    </div>

                    <div class="service-card__info">
                        <h3 class="service-card__title">Разработка игр</h3>
                        <p class="service-card__text">С развитием технологий каждое новое открытие становится значительным.</p>

                        <div class="service-card__price-block">
                            <p class="service-card__price">Стоимость от 300 000 ₽</p>

                            <a class="arrow-button" href="#">
                                <span class="arrow-button__icon">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#chevron_right_24" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="service-card">
                    <div class="service-card__image">
                        <img src="images/content/services/img_2.jpg" srcset="images/content/services/img_2@2x.jpg 2x" alt="">
                    </div>

                    <div class="service-card__info">
                        <h3 class="service-card__title">Промо-игры</h3>
                        <p class="service-card__text">С развитием технологий каждое новое открытие становится значительным.</p>

                        <div class="service-card__price-block">
                            <p class="service-card__price">Стоимость от 300 000 ₽</p>

                            <a class="arrow-button" href="#">
                                <span class="arrow-button__icon">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#chevron_right_24" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-services-cards-slider-pagination slider-pagination swiper-pagination" data-slider="services_cards_slider"></div>
    </div>

    <button class="js-services-cards-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="services_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-services-cards-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="services_cards_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>