<div class="single-slider slider slider--type_1">
    <div class="js-single-slider swiper" data-slider="single_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/content/content_blocks/img_4.jpg" srcset="images/content/content_blocks/img_4@2x.jpg 2x" alt="">
                <p class="caption">Вы сможете разработать собственную стратегию, собрав армию из любимых героев и расставив их по своему усмотрению.</p>
            </div>

            <div class="swiper-slide">
                <img src="images/content/content_blocks/img_4.jpg" srcset="images/content/content_blocks/img_4@2x.jpg 2x" alt="">
                <p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="swiper-slide">
                <img src="images/content/content_blocks/img_4.jpg" srcset="images/content/content_blocks/img_4@2x.jpg 2x" alt="">
                <p class="caption">Consequatur, aliquid, omnis. Dolorem in quia rem amet ex possimus nihil repudiandae labore ipsa illo, dicta, eligendi eum odio quaerat architecto repellendus.</p>
            </div>
        </div>

        <div class="js-single-slider-pagination slider-pagination swiper-pagination" data-slider="single_slider"></div>
    </div>

    <button class="js-single-slider-prev slider-arrow swiper-button-prev" type="button" title="Назад" data-slider="single_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_left_24" />
        </svg>
    </button>

    <button class="js-single-slider-next slider-arrow swiper-button-next" type="button" title="Вперёд" data-slider="single_slider">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right_24" />
        </svg>
    </button>
</div>