<div class="speech-slider">
    <div class="js-speech-slider swiper" data-slider="speech_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="speech-card">
                    <div class="speech-card__author">
                        <div class="speech-card__author-avatar">
                            <img src="images/content/team/img.jpg" srcset="images/content/team/img@2x.jpg 2x" alt="">
                        </div>

                        <p class="speech-card__author-name">Андрей Малыхин</p>
                        <p class="speech-card__author-place">СЕО Dreamcraft</p>
                    </div>

                    <div class="speech-card__text">
                        <p>С развитием технологий каждое новое открытие становится значительным шагом вперёд. Современные решения находят применение в различных сферах жизни, улучшая качество и ускоряя процессы. Важно быть в курсе последних
                            тенденций, чтобы не упустить новые возможности.</p>

                        <blockquote>
                            <p>Цель DreamCraft Studio заключается в создании интересной и красивой игры, которая эффективно решит задачу клиента.</p>
                        </blockquote>

                        <p><b>Наши преимущества</b></p>

                        <ul class="bullet bullet--type_1">
                            <li>Полный цикл разработки</li>
                            <li>Гибкая и вовлечённая команда</li>
                            <li>Фокус на результат и масштаб</li>
                            <li>Игры с высоким потенциалом</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="speech-card speech-card--reverse">
                    <div class="speech-card__author">
                        <div class="speech-card__author-avatar">
                            <img src="images/content/team/img_2.jpg" srcset="images/content/team/img_2@2x.jpg 2x" alt="">
                        </div>

                        <p class="speech-card__author-name">Андрей Малыхин</p>
                        <p class="speech-card__author-place">СЕО Dreamcraft</p>
                    </div>

                    <div class="speech-card__text">
                        <p>С развитием технологий каждое новое открытие становится значительным шагом вперёд. Современные решения находят применение в различных сферах жизни, улучшая качество и ускоряя процессы. Важно быть в курсе последних
                            тенденций, чтобы не упустить новые возможности.</p>

                        <blockquote>
                            <p>Цель DreamCraft Studio заключается в создании интересной и красивой игры, которая эффективно решит задачу клиента.</p>
                        </blockquote>

                        <p><b>Наши преимущества</b></p>

                        <ul class="bullet bullet--type_1">
                            <li>Полный цикл разработки</li>
                            <li>Гибкая и вовлечённая команда</li>
                            <li>Фокус на результат и масштаб</li>
                            <li>Игры с высоким потенциалом</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-speech-slider-pagination slider-pagination swiper-pagination" data-slider="speech_slider"></div>
    </div>
</div>