<div class="stages">
    <div class="tabs stages__inner">
        <h2>Этапы разработки</h2>

        <div class="stages__nav">
            <button class="js-tabs-button stages__button is-active" type="button" data-tab="1">
                <span class="stages__button-icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#stage_1" />
                    </svg>
                </span>
                <span>Сбор<br> данных</span>
            </button>

            <button class="js-tabs-button stages__button" type="button" data-tab="2">
                <span class="stages__button-icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#stage_2" />
                    </svg>
                </span>
                <span>Составление<br> документации</span>
            </button>

            <button class="js-tabs-button stages__button" type="button" data-tab="3">
                <span class="stages__button-icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#stage_3" />
                    </svg>
                </span>
                <span>Утверждение<br> заказчиком</span>
            </button>

            <button class="js-tabs-button stages__button" type="button" data-tab="4">
                <span class="stages__button-icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#stage_4" />
                    </svg>
                </span>
                <span>Поэтапная<br> разработка</span>
            </button>

            <button class="js-tabs-button stages__button" type="button" data-tab="5">
                <span class="stages__button-icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#stage_5" />
                    </svg>
                </span>
                <span>Тестирование<br> перед релизом</span>
            </button>

            <button class="js-tabs-button stages__button" type="button" data-tab="6">
                <span class="stages__button-icon">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#stage_6" />
                    </svg>
                </span>
                <span>Релиз<br> и поддержка</span>
            </button>
        </div>

        <div class="tab is-active" data-tab="1">
            <div class="stages__content">
                <div class="stages__image">
                    <img src="images/content/content_blocks/img.png" srcset="images/content/content_blocks/img@2x.png 2x" alt="">
                </div>

                <div class="stages__text-block">
                    <h3>Сбор данных</h3>
                    <p>Программирование игровых систем, UI, логики. Интеграция графики, звука и анимации. Оптимизация под различные мобильные устройства (размер, производительность, батарея).</p>
                    <button class="button button--dark button--h_56" type="button" data-fancybox="request_stage_1" data-src="#request">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Заказать проект</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab" data-tab="2">
            <div class="stages__content">
                <div class="stages__image">
                    <img src="images/content/content_blocks/img_2.png" srcset="images/content/content_blocks/img_2@2x.png 2x" alt="">
                </div>

                <div class="stages__text-block">
                    <h3>Составление документации</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus incidunt facere debitis pariatur neque sunt, magnam recusandae dolorum voluptate hic cupiditate tenetur provident aperiam eveniet autem, deserunt,
                        repudiandae? Illum, magnam.</p>
                    <button class="button button--dark button--h_56" type="button" data-fancybox="request_stage_2" data-src="#request">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Заказать проект</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab" data-tab="3">
            <div class="stages__content">
                <div class="stages__image">
                    <img src="images/content/content_blocks/img_5.png" srcset="images/content/content_blocks/img_5@2x.png 2x" alt="">
                </div>

                <div class="stages__text-block">
                    <h3>Утверждение заказчиком</h3>
                    <p>Amet cupiditate fugiat repellat nobis saepe minima iure ab dignissimos mollitia, omnis error doloribus iusto. Nulla tempore dicta illo! Ad, harum ea!</p>
                    <button class="button button--dark button--h_56" type="button" data-fancybox="request_stage_3" data-src="#request">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Заказать проект</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab" data-tab="4">
            <div class="stages__content">
                <div class="stages__image">
                    <img src="images/content/content_blocks/img_8.png" srcset="images/content/content_blocks/img_8@2x.png 2x" alt="">
                </div>

                <div class="stages__text-block">
                    <h3>Поэтапная разработка</h3>
                    <p>Consectetur soluta earum debitis iusto assumenda minus modi, quas culpa odit dignissimos voluptate dolor facilis, cum non. Atque aspernatur tempore facere quisquam.</p>
                    <button class="button button--dark button--h_56" type="button" data-fancybox="request_stage_4" data-src="#request">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Заказать проект</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab" data-tab="5">
            <div class="stages__content">
                <div class="stages__image">
                    <img src="images/content/content_blocks/img_9.png" srcset="images/content/content_blocks/img_9@2x.png 2x" alt="">
                </div>

                <div class="stages__text-block">
                    <h3>Тестирование перед релизом</h3>
                    <p>Dolorum ratione laboriosam iusto ut minus nostrum quibusdam pariatur quisquam, consequatur. Assumenda vitae porro ex iure corporis, deleniti omnis ipsum earum aspernatur.</p>
                    <button class="button button--dark button--h_56" type="button" data-fancybox="request_stage_5" data-src="#request">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Заказать проект</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab" data-tab="6">
            <div class="stages__content">
                <div class="stages__image">
                    <img src="images/content/content_blocks/img.png" srcset="images/content/content_blocks/img@2x.png 2x" alt="">
                </div>

                <div class="stages__text-block">
                    <h3>Релиз и поддержка</h3>
                    <p>Sapiente odit minus molestiae hic, modi voluptas tempore, id temporibus totam, mollitia aspernatur aliquid saepe iste. Alias, voluptate odit modi iusto sint.</p>
                    <button class="button button--dark button--h_56" type="button" data-fancybox="request_stage_6" data-src="#request">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Заказать проект</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>