<div class="trans-table">
    <table class="trans-table__table">
        <tr class="trans-table__header">
            <th>Услуга</th>
            <th>Описание</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        <tbody>
            <tr>
                <td class="trans-table__toggler-block">
                    <span>Прототипирование игры</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Создание базового играбельного прототипа для тестирования механик и концепции</td>
                <td class="trans-table__price-block">от 50 000 ₽</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>Геймдизайн-документ (GDD)</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Разработка подробного документа с описанием механик, баланса, сюжета и интерфейса</td>
                <td class="trans-table__price-block">от 30 000 ₽</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>Разработка механик</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Проектирование и реализация игровых механик под конкретные цели и платформы</td>
                <td class="trans-table__price-block">от 40 000 ₽</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>Нарративный дизайн</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Написание сюжета, диалогов, проработка лора и повествовательной структуры</td>
                <td class="trans-table__price-block">от 25 000 ₽</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>UI/UX дизайн для игр</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Создание удобного и стильного пользовательского интерфейса</td>
                <td class="trans-table__price-block">от 35 000 ₽</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>Арт-дирекция и концепт-арт</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Разработка визуального стиля и концепт-арта персонажей, окружения и предметов</td>
                <td class="trans-table__price-block">от 45 000 ₽</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>Продюсирование проекта</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Ведение проекта под ключ: контроль сроков, бюджета, команды и качества</td>
                <td class="trans-table__price-block">от 80 000 ₽/мес.</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>Балансировка игры</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Анализ и настройка игровых систем для достижения справедливости и интересного геймплея</td>
                <td class="trans-table__price-block">от 20 000 ₽</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="trans-table__toggler-block">
                    <span>Консультации по геймдизайну</span>
                    <span class="js-trans-table-toggler trans-table__toggler">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down_light_16" />
                        </svg>
                    </span>
                </td>
                <td>Индивидуальные сессии по проектированию и развитию игрового проекта</td>
                <td class="trans-table__price-block">от 3 000 ₽/час</td>
                <td>
                    <button class="trans-table__button button button--dark button--h_24" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#doc_icon" />
                        </svg>
                        <span>Отправить заявку</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>