<div class="why-slider slider slider--type_1 desktop-hidden">
    <div class="js-why-slider swiper" data-slider="why_slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="m-why">
                    <h3 class="m-why__title">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#code_icon" />
                        </svg>

                        <span>Полный цикл разработки</span>
                    </h3>

                    <p>Мы предлагаем гибкие условия оплаты разработки игры, чтобы сделать инвестиции комфортными для вашего бизнеса.</p>

                    <img src="images/content/content_blocks/img.png" srcset="images/content/content_blocks/img@2x.png 2x" alt="">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="m-why">
                    <h3 class="m-why__title">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#team_icon" />
                        </svg>

                        <span>Опытная команда</span>
                    </h3>

                    <p>Enim officia eaque, repellendus, sequi explicabo est odit ab voluptate, vel quae minima quas minus fugit hic molestiae debitis doloremque omnis consectetur.</p>

                    <img src="images/content/content_blocks/img_9.png" srcset="images/content/content_blocks/img_9@2x.png 2x" alt="">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="m-why">
                    <h3 class="m-why__title">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#rub_icon" />
                        </svg>

                        <span>Беспроцентная рассрочка</span>
                    </h3>

                    <p>Мы предлагаем гибкие условия оплаты разработки игры, чтобы сделать инвестиции комфортными для вашего бизнеса.</p>

                    <img src="images/content/content_blocks/img_2.png" srcset="images/content/content_blocks/img_2@2x.png 2x" alt="">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="m-why">
                    <h3 class="m-why__title">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#gamepad_icon" />
                        </svg>

                        <span>Большой спектр услуг</span>
                    </h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tenetur a harum sequi nobis fugit molestias, quae non, labore dicta quis commodi quos vero. Magni exercitationem minima soluta consequatur molestias.</p>

                    <img src="images/content/content_blocks/img_8.png" srcset="images/content/content_blocks/img_8@2x.png 2x" alt="">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="m-why">
                    <h3 class="m-why__title">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#award_icon" />
                        </svg>

                        <span>Прозрачность в ведении проекта</span>
                    </h3>

                    <p>Quidem tenetur a harum sequi nobis fugit molestias, quae non, labore dicta quis commodi quos vero. Magni exercitationem minima soluta consequatur molestias.</p>

                    <img src="images/content/content_blocks/img_9.png" srcset="images/content/content_blocks/img_9@2x.png 2x" alt="">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="m-why">
                    <h3 class="m-why__title">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#coop_icon" />
                        </svg>

                        <span>Наши гарантии</span>
                    </h3>

                    <p>Magni exercitationem minima soluta consequatur molestias. Quidem tenetur a harum sequi nobis fugit molestias, quae non, labore dicta quis commodi quos vero.</p>

                    <img src="images/content/content_blocks/img.png" srcset="images/content/content_blocks/img@2x.png 2x" alt="">
                </div>
            </div>
        </div>

        <div class="js-why-slider-pagination slider-pagination swiper-pagination" data-slider="why_slider"></div>
    </div>
</div>

<div class="why-we mobile-hidden content-block content-block--type_1">
    <div class="content-block__image">
        <img class="js-why-image why-image" src="images/content/content_blocks/img.png" srcset="images/content/content_blocks/img@2x.png 2x" alt="">
    </div>

    <div class="content-block__text">
        <h2>Почему выбирают нас</h2>

        <div class="why-block">
            <div class="why is-active" data-src="images/content/content_blocks/img.png" data-srcset="images/content/content_blocks/img@2x.png 2x">
                <button class="js-why-toggler why__toggler" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#code_icon" />
                    </svg>
                    <span>Полный цикл разработки</span>
                </button>

                <div class="why__body" style="display: block">
                    <p>Obcaecati eaque nobis sapiente quam quasi eligendi culpa iusto, aliquid explicabo natus aut repellat accusamus? Et accusantium non, perspiciatis, ipsam consequuntur suscipit.</p>
                </div>
            </div>

            <div class="why" data-src="images/content/content_blocks/img_5.png" data-srcset="images/content/content_blocks/img_5@2x.png 2x">
                <button class="js-why-toggler why__toggler" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#team_icon" />
                    </svg>
                    <span>Опытная команда</span>
                </button>

                <div class="why__body">
                    <p>Enim officia eaque, repellendus, sequi explicabo est odit ab voluptate, vel quae minima quas minus fugit hic molestiae debitis doloremque omnis consectetur.</p>
                </div>
            </div>

            <div class="why" data-src="images/content/content_blocks/img_2.png" data-srcset="images/content/content_blocks/img_2@2x.png 2x">
                <button class="js-why-toggler why__toggler" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#rub_icon" />
                    </svg>
                    <span>Беспроцентная рассрочка</span>
                </button>

                <div class="why__body">
                    <p>Мы предлагаем гибкие условия оплаты разработки игры, чтобы сделать инвестиции комфортными для вашего бизнеса.</p>
                </div>
            </div>

            <div class="why" data-src="images/content/content_blocks/img_8.png" data-srcset="images/content/content_blocks/img_8@2x.png 2x">
                <button class="js-why-toggler why__toggler" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#gamepad_icon" />
                    </svg>
                    <span>Большой спектр услуг</span>
                </button>

                <div class="why__body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tenetur a harum sequi nobis fugit molestias, quae non, labore dicta quis commodi quos vero. Magni exercitationem minima soluta consequatur molestias.</p>
                </div>
            </div>

            <div class="why" data-src="images/content/content_blocks/img_9.png" data-srcset="images/content/content_blocks/img_9@2x.png 2x">
                <button class="js-why-toggler why__toggler" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#award_icon" />
                    </svg>
                    <span>Прозрачность в ведении проекта</span>
                </button>

                <div class="why__body">
                    <p>Quidem tenetur a harum sequi nobis fugit molestias, quae non, labore dicta quis commodi quos vero. Magni exercitationem minima soluta consequatur molestias.</p>
                </div>
            </div>

            <div class="why" data-src="images/content/content_blocks/img.png" data-srcset="images/content/content_blocks/img@2x.png 2x">
                <button class="js-why-toggler why__toggler" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#coop_icon" />
                    </svg>
                    <span>Наши гарантии</span>
                </button>

                <div class="why__body">
                    <p>Magni exercitationem minima soluta consequatur molestias. Quidem tenetur a harum sequi nobis fugit molestias, quae non, labore dicta quis commodi quos vero.</p>
                </div>
            </div>
        </div>
    </div>
</div>